<table id="uslGrid" class="easyui-datagrid" title="用户日志列表"
    data-options="rownumbers:true,singleSelect:true,pagination:true,url:'/UserLog/Search',method:'get',
        loadMsg:'正在加载用户日志列表，请稍候……',
        toolbar: '#uslTB'">
    <thead>
        <tr>
            <th data-options="field:'Id',hidden:true">
                编号
            </th>
            <th data-options="field:'Account',width:100">
                账号
            </th>
            <th data-options="field:'Name',width:100">
                姓名
            </th>
            <th data-options="field:'Operation',width:100">
                操作
            </th>
            <th data-options="field:'Comment',width:300">
                描述
            </th>
            <th data-options="field:'OccurTime',width:300,formatter:function(value, row, index) {
            var date = new Date(parseInt(value.replace('/Date(', '').replace(')/', ''), 10)).toString();
               return date;}">
                操作时间
            </th>
        </tr>
    </thead>
</table>
<div id="uslTB">
    @*<div>
        <a href="#" class="easyui-linkbutton" plain="true" iconcls="icon-reload" onclick="reloadUserLog()">
                刷新</a> <a href="#" class="easyui-linkbutton" plain="true" iconcls="icon-remove" onclick="removeUserLog()">
                    删除</a>
    </div>*@
    <div>
        <form id="searchUslConditionForm">
        时间从:
        <input id="dateFrom" class="easyui-datebox" style="width: 80px">到:
        <input id="dateTo" class="easyui-datebox" style="width: 80px">用户ID:
        <input id="uID" type="text" style="width: 80px">
        <a href="#" class="easyui-linkbutton" iconcls="icon-search" onclick="doUslSearch()">
            查询</a> <a href="#" class="easyui-linkbutton" iconcls="icon-reload" onclick="doUslReset()">
                重置</a>
        </form>
    </div>
</div>
<script type="text/javascript">
   
    function reloadUserLog() {
        $('#uslGrid').datagrid('reload', []);
    }
    
    function doUslSearch(){
     $.messager.progress({
            title: '查询中',
            msg: '正在查询，请稍候...'
        });
        var dFrom=$('#dateFrom').datebox('getValue');
        var dTo=$("#dateTo").datebox('getValue');
        var postData={
        dateFrom:dFrom,
        dateTo:dTo}
         $('#uslGrid').datagrid('load',postData);
         $.messager.progress('close');
     }

     function doUslReset()
     {
        $('#searchUslConditionForm').form('clear');
     }
</script>
