<script>
    $(function () {
        $('#departInfo_MemberGrid').datagrid({
            url: '/Member/GetDepartInfo?random=' +
            Math.random(),
            queryParams: { cardNo: $('#departInfo_TextRecommendCardNo').val() },
            columns: [[
                { field: 'DepartName', title: '部门', width: 80 },
                { field: 'IdentityCardNo', title: '身份证号码', width: 150 },
                { field: 'MemberName', title: '姓名', width: 80 },
                {
                    field: 'CardLevelID', title: '代理级别', width: 80,
                    formatter: function (value) {
                            if (value == 1) return "暂无";
                        else if (value == 1) return "银卡";
                        else if (value == 2) return "金卡";
                        else if (value == 3) return "钻卡";
                    }
                },
                {
                    field: 'AgencyLevelID', title: '代理级别', width: 80,
                    formatter: function (value) {
                        if (value == 0) return "暂无";
                        else if (value == 1) return "区代";
                        else if (value == 2) return "市代";
                        else if (value == 3) return "省代";
                    }
                },
                { field: 'DepartDistrctAgencyQuantity', title: '区代数量', width: 80 },
                { field: 'DepartScore', title: '积分', width: 80 }
            ]]
        });
    });
    //推荐人位置查询
    function departInfo_FindRecommendMemberRecords() {
        //check session expire
        $.post("/Common/SessionExpire?random=" + Math.random(), {}, function (data) {
            if (data == XDropsWaterSystem.executeResult.Success) {
                departInfo_CheckIDCard();
                $('#departInfo_MemberGrid').datagrid({
                    url: '/Member/GetDepartInfo?random=' +
                        Math.random(),
                    queryParams: { cardNo: $('#departInfo_TextRecommendCardNo').val() }
                });
            }
            else if (data == XDropsWaterSystem.executeResult.Login) {
                $.messager.alert('重新登录', '由于您长时间未操作，系统需要重新登录', 'info', function () {
                    window.location.href = "../Login/Logout";
                });
            }
        });
    }

    //根据身份证号码查姓名
    function departInfo_CheckIDCard() {
        var cardNo = $('#departInfo_TextRecommendCardNo').val();
        if (cardNo == '') return;

        var parentName = $('#departInfo_TextRecommendMemberName').val();
        if (parentName == '' || parentName.trim() == '') {
            $.messager.progress({
                title: '正在获取推荐人姓名',
                msg: '正在获取推荐人姓名，请稍候...'
            });
        }

        $.post("/Achieve/CheckIDCard?random=" + Math.random(), { cardNo: cardNo }, function (data) {
            $.messager.progress('close');
            if (data == XDropsWaterSystem.executeResult.Exception) {
                $.messager.alert('获取代理姓名失败', '系统出现异常，请联系管理员', 'error');
            }
            else if (data != '') {
                $('#departInfo_TextRecommendMemberName').val(data);
            }
        });
    }
</script>


<div id="departInfo_MemberGridTool">
    身份证号码：<input type="text" id="departInfo_TextRecommendCardNo" style="width: 250px"
        onblur="departInfo_CheckIDCard()"
        onkeydown="if (event.keyCode == 13) { departInfo_FindRecommendMemberRecords(); }" />
    &nbsp;&nbsp;&nbsp;&nbsp;
    姓名：<input type="text" id="departInfo_TextRecommendMemberName" style="width: 100px" disabled="disabled" />
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="javascript:void(0)" onclick="departInfo_FindRecommendMemberRecords()" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a>
</div>

<table id="departInfo_MemberGrid" title="" toolbar="#departInfo_MemberGridTool"
    data-options="rownumbers:true,singleSelect:true,method:'get',
        loadMsg:'正在查询，请稍候……'">
</table>
