@{
    ViewBag.Title = "小水滴代理系统";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<style type="text/css">
    .clear:after {
        display: block;
        clear: both;
        content: ".";
        visibility: hidden;
        height: 0;
    }

    .clear {
        zoom: "1";
    }
</style>
@Scripts.Render("~/Content/AdminLTE-2.3.6/plugins/datatables/jquery.dataTables.min.js")
@Scripts.Render("~/Content/AdminLTE-2.3.6/plugins/datatables/dataTables.bootstrap.min.js")
@Scripts.Render("~/Content/bootstrapvalidator/dist/js/bootstrapValidator.min.js")
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            代理级别≥我
            <small>Version 1.0</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>主页</a></li>
            <li class="active">代理级别≥我</li>
        </ol>
    </section>
    <section class="content">
        <!-- /.row -->
        <div class="row" id="rows">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <input v-model="search.mobileOrName" id="txtSearch" type="text" class="form-control" placeholder="电话号码或姓名">
                                <span class="input-group-btn">
                                    <xdropswater-search-button></xdropswater-search-button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <xdropswater-nodata v-show="!error.show" v-bind:total-count="totalCount"></xdropswater-nodata>
                            <xdropswater-error v-bind:error="error"></xdropswater-error>
                            <div class="row" v-show="totalCount>0">
                                <div class="col-sm-12 table-responsive">
                                    <table class="table table-striped table-hover table-xdropswater">
                                        <thead>
                                            <tr>
                                                <th>姓名</th>
                                                <th>级别</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tableBody">
                                            <tr v-for="(item, index) in items">
                                                <td>{{item.MemberName}}</td>
                                                <td>{{item.RoleName}}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <xdropswater-pagination v-bind:row-from="rowFrom"
                                                            v-bind:row-to="rowTo"
                                                            v-bind:total-count="totalCount"
                                                            v-bind:current-page="currentPage"
                                                            v-bind:total-pages="totalPages"
                                                            v-bind:display-pages="displayPages">
                                    </xdropswater-pagination>

                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>

                </div>
            </div>
        </div>

    </section>

</div>

<script src="~/Scripts/App/Member/getHighSubMembers1.js"></script>