@{
    ViewBag.Title = "小水滴代理系统";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@Scripts.Render("~/Content/AdminLTE-2.3.6/plugins/datatables/jquery.dataTables.min.js")
@Scripts.Render("~/Content/AdminLTE-2.3.6/plugins/datatables/dataTables.bootstrap.min.js")
@Scripts.Render("~/Content/bootstrapvalidator/dist/js/bootstrapValidator.min.js")

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            个人资料
            <small>Version 1.0</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i>主页</a></li>
            <li class="active">个人资料</li>
        </ol>
    </section>

    <section class="content">
        <!-- /.row -->
        <div class="row" id="baseInfo">

            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        基本资料
                    </div>
                    <br />
                    <form id="baseInfoForm" v-on:submit="submit">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="control-label col-md-2" for="MemberName">姓名</label>
                                    <div class="col-md-10">
                                        <input class="form-control" name="MemberName" v-model="model.MemberName" />
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="control-label col-md-2" for="Mobile">手机号码</label>
                                    <div class="col-md-10">
                                        <input class="form-control" name="Mobile" v-model="model.Mobile" />
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="control-label col-md-2" for="IdentityNo">身份证号码</label>
                                    <div class="col-md-10">
                                        <input class="form-control" name="IdentityNo" v-model="model.IdentityNo" />
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="control-label col-md-2" for="RoleName">当前级别</label>
                                    <div class="col-md-10">
                                        <input class="form-control" readonly="readonly" name="RoleName" v-model="model.MemberRole.RoleName" />
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="control-label col-md-2" for="UpgradeAmount">升级金额</label>
                                    <div class="col-md-10">
                                        <input class="form-control" readonly="readonly" name="UpgradeAmount" v-model="model.UpgradeAmount" />
                                    </div>
                                </div>

                            </div>
                            <div class="form-group" v-if="model.MinusAmount>0">
                                <div class="col-md-12">
                                    <label class="control-label col-md-2" for="MinusAmount">优惠金额</label>
                                    <div class="col-md-10">
                                        <input class="form-control" readonly="readonly" name="MinusAmount" v-model="model.MinusAmount" />
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="control-label col-md-2" for="Address">地址</label>
                                    <div class="col-md-10">
                                        <textarea class="form-control" name="Address" v-model="model.Address"></textarea>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">

                                <xdropswater-error v-bind:error="error"></xdropswater-error>

                                <div class="col-md-12" style="text-align: right">

                                    <button type="submit" class="btn btn-primary">
                                        <i class="glyphicon glyphicon-save"></i> 保存
                                    </button>
                                    <br />
                                    <br />
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>


        <div class="row" id="password">

            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        修改密码
                    </div>
                    <br />
                    <form id="passwordForm" v-on:submit="submit">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-md-2" for="OldPassword">原始密码</label>
                                    <div class="col-md-10">
                                        <input type="password" class="form-control" name="OldPassword" v-model="model.OldPassword" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-md-2" for="NewPassword">新密码</label>
                                    <div class="col-md-10">
                                        <input type="password" class="form-control" name="NewPassword" v-model="model.NewPassword" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-md-2" for="ConfirmPassword">确认密码</label>
                                    <div class="col-md-10">
                                        <input type="password" class="form-control" name="ConfirmPassword" v-model="model.ConfirmPassword" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">

                                <xdropswater-error v-bind:error="error"></xdropswater-error>

                                <div class="col-md-12" style="text-align: right">
                                   
                                    <button type="submit" class="btn btn-primary">
                                        <i class="glyphicon glyphicon-save"></i> 保存
                                    </button>
                                    <br />
                                    <br />
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </section>


</div>



<script src="~/Scripts/App/Member/personalInfo1.js"></script>