################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/XDropsWater/.vs/XDropsWater/v15/.suo
/XDropsWater/.vs/XDropsWater/v15/Server/sqlite3/db.lock
/XDropsWater/.vs/XDropsWater/v15/Server/sqlite3/storage.ide
/XDropsWater/.vs/XDropsWater/v15/Server/sqlite3/storage.ide-shm
/XDropsWater/.vs/XDropsWater/v15/Server/sqlite3/storage.ide-wal
/XDropsWater/.vs/config/applicationhost.config
/XDropsWater/DataTransfer.Console/bin/Debug/DataTransfer.Console.exe
/XDropsWater/DataTransfer.Console/bin/Debug/DataTransfer.Console.exe.config
/XDropsWater/DataTransfer.Console/bin/Debug/DataTransfer.Console.pdb
/XDropsWater/DataTransfer.Console/bin/Debug/Newtonsoft.Json.dll
/XDropsWater/DataTransfer.Console/bin/Debug/Newtonsoft.Json.xml
/XDropsWater/DataTransfer.Console/obj/Debug/DataTransfer.Console.csproj.CopyComplete
/XDropsWater/DataTransfer.Console/obj/Debug/DataTransfer.Console.csproj.CoreCompileInputs.cache
/XDropsWater/DataTransfer.Console/obj/Debug/DataTransfer.Console.csproj.FileListAbsolute.txt
/XDropsWater/DataTransfer.Console/obj/Debug/DataTransfer.Console.csprojAssemblyReference.cache
/XDropsWater/DataTransfer.Console/obj/Debug/DataTransfer.Console.exe
/XDropsWater/DataTransfer.Console/obj/Debug/DataTransfer.Console.pdb
/XDropsWater/DataTransfer.Console/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/XDropsWater/DataTransfer.Console/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/XDropsWater/DataTransfer.Console/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/XDropsWater/DataTransfer.Console/obj/Release/DataTransfer.Console.csproj.CoreCompileInputs.cache
/XDropsWater/UpgradeLog.htm
/XDropsWater/XDropsWater.Bll.Interface/bin/Debug/CommonServiceLocator.dll
/XDropsWater/XDropsWater.Bll.Interface/bin/Debug/CommonServiceLocator.pdb
/XDropsWater/XDropsWater.Bll.Interface/bin/Debug/EntityFramework.dll
/XDropsWater/XDropsWater.Bll.Interface/bin/Debug/EntityFramework.xml
/XDropsWater/XDropsWater.Bll.Interface/bin/Debug/ICSharpCode.SharpZipLib.dll
/XDropsWater/XDropsWater.Bll.Interface/bin/Debug/InteractivePreGeneratedViews.dll
/XDropsWater/XDropsWater.Bll.Interface/bin/Debug/Microsoft.Practices.EnterpriseLibrary.Caching.dll
/XDropsWater/XDropsWater.Bll.Interface/bin/Debug/Microsoft.Practices.EnterpriseLibrary.Common.dll
/XDropsWater/XDropsWater.Bll.Interface/bin/Debug/Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.dll
/XDropsWater/XDropsWater.Bll.Interface/bin/Debug/Microsoft.Practices.EnterpriseLibrary.Logging.dll
/XDropsWater/XDropsWater.Bll.Interface/bin/Debug/Microsoft.Practices.ServiceLocation.dll
/XDropsWater/XDropsWater.Bll.Interface/bin/Debug/Microsoft.Practices.Unity.Configuration.dll
/XDropsWater/XDropsWater.Bll.Interface/bin/Debug/Microsoft.Practices.Unity.Interception.dll
/XDropsWater/XDropsWater.Bll.Interface/bin/Debug/Microsoft.Practices.Unity.dll
/XDropsWater/XDropsWater.Bll.Interface/bin/Debug/Unity.Abstractions.dll
/XDropsWater/XDropsWater.Bll.Interface/bin/Debug/Unity.Abstractions.pdb
/XDropsWater/XDropsWater.Bll.Interface/bin/Debug/Unity.Container.dll
/XDropsWater/XDropsWater.Bll.Interface/bin/Debug/Unity.Container.pdb
/XDropsWater/XDropsWater.Bll.Interface/bin/Debug/Unity.Interception.dll
/XDropsWater/XDropsWater.Bll.Interface/bin/Debug/Unity.Interception.pdb
/XDropsWater/XDropsWater.Bll.Interface/bin/Debug/Unity.ServiceLocation.dll
/XDropsWater/XDropsWater.Bll.Interface/bin/Debug/Unity.ServiceLocation.pdb
/XDropsWater/XDropsWater.Bll.Interface/bin/Debug/XDropsWater.Bll.Interface.dll
/XDropsWater/XDropsWater.Bll.Interface/bin/Debug/XDropsWater.Bll.Interface.pdb
/XDropsWater/XDropsWater.Bll.Interface/bin/Debug/XDropsWater.CrossCutting.dll
/XDropsWater/XDropsWater.Bll.Interface/bin/Debug/XDropsWater.CrossCutting.pdb
/XDropsWater/XDropsWater.Bll.Interface/bin/Debug/XDropsWater.Dal.Entity.dll
/XDropsWater/XDropsWater.Bll.Interface/bin/Debug/XDropsWater.Dal.Entity.dll.config
/XDropsWater/XDropsWater.Bll.Interface/bin/Debug/XDropsWater.Dal.Entity.pdb
/XDropsWater/XDropsWater.Bll.Interface/bin/Debug/XDropsWater.DataAccess.dll
/XDropsWater/XDropsWater.Bll.Interface/bin/Debug/XDropsWater.DataAccess.dll.config
/XDropsWater/XDropsWater.Bll.Interface/bin/Debug/XDropsWater.DataAccess.pdb
/XDropsWater/XDropsWater.Bll.Interface/bin/Debug/XDropsWater.DataAccess.xml
/XDropsWater/XDropsWater.Bll.Interface/bin/Debug/XDropsWater.Model.dll
/XDropsWater/XDropsWater.Bll.Interface/bin/Debug/XDropsWater.Model.pdb
/XDropsWater/XDropsWater.Bll.Interface/obj/Debug/XDropsWater.Bll.Interface.csproj.CopyComplete
/XDropsWater/XDropsWater.Bll.Interface/obj/Debug/XDropsWater.Bll.Interface.csproj.CoreCompileInputs.cache
/XDropsWater/XDropsWater.Bll.Interface/obj/Debug/XDropsWater.Bll.Interface.csproj.FileListAbsolute.txt
/XDropsWater/XDropsWater.Bll.Interface/obj/Debug/XDropsWater.Bll.Interface.csprojAssemblyReference.cache
/XDropsWater/XDropsWater.Bll.Interface/obj/Debug/XDropsWater.Bll.Interface.dll
/XDropsWater/XDropsWater.Bll.Interface/obj/Debug/XDropsWater.Bll.Interface.pdb
/XDropsWater/XDropsWater.Bll.Interface/obj/Release/XDropsWater.Bll.Interface.csproj.CoreCompileInputs.cache
/XDropsWater/XDropsWater.Bll/bin/Debug/AutoMapper.Net4.dll
/XDropsWater/XDropsWater.Bll/bin/Debug/AutoMapper.Net4.pdb
/XDropsWater/XDropsWater.Bll/bin/Debug/AutoMapper.dll
/XDropsWater/XDropsWater.Bll/bin/Debug/AutoMapper.pdb
/XDropsWater/XDropsWater.Bll/bin/Debug/AutoMapper.xml
/XDropsWater/XDropsWater.Bll/bin/Debug/CommonServiceLocator.dll
/XDropsWater/XDropsWater.Bll/bin/Debug/CommonServiceLocator.pdb
/XDropsWater/XDropsWater.Bll/bin/Debug/EntityFramework.dll
/XDropsWater/XDropsWater.Bll/bin/Debug/EntityFramework.xml
/XDropsWater/XDropsWater.Bll/bin/Debug/ICSharpCode.SharpZipLib.dll
/XDropsWater/XDropsWater.Bll/bin/Debug/InteractivePreGeneratedViews.dll
/XDropsWater/XDropsWater.Bll/bin/Debug/Microsoft.Practices.EnterpriseLibrary.Caching.dll
/XDropsWater/XDropsWater.Bll/bin/Debug/Microsoft.Practices.EnterpriseLibrary.Common.dll
/XDropsWater/XDropsWater.Bll/bin/Debug/Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.dll
/XDropsWater/XDropsWater.Bll/bin/Debug/Microsoft.Practices.EnterpriseLibrary.Logging.dll
/XDropsWater/XDropsWater.Bll/bin/Debug/Microsoft.Practices.ServiceLocation.dll
/XDropsWater/XDropsWater.Bll/bin/Debug/Microsoft.Practices.Unity.Configuration.dll
/XDropsWater/XDropsWater.Bll/bin/Debug/Microsoft.Practices.Unity.Interception.dll
/XDropsWater/XDropsWater.Bll/bin/Debug/Microsoft.Practices.Unity.dll
/XDropsWater/XDropsWater.Bll/bin/Debug/Unity.Abstractions.dll
/XDropsWater/XDropsWater.Bll/bin/Debug/Unity.Abstractions.pdb
/XDropsWater/XDropsWater.Bll/bin/Debug/Unity.Container.dll
/XDropsWater/XDropsWater.Bll/bin/Debug/Unity.Container.pdb
/XDropsWater/XDropsWater.Bll/bin/Debug/Unity.Interception.dll
/XDropsWater/XDropsWater.Bll/bin/Debug/Unity.Interception.pdb
/XDropsWater/XDropsWater.Bll/bin/Debug/Unity.ServiceLocation.dll
/XDropsWater/XDropsWater.Bll/bin/Debug/Unity.ServiceLocation.pdb
/XDropsWater/XDropsWater.Bll/bin/Debug/XDropsWater.Bll.Interface.dll
/XDropsWater/XDropsWater.Bll/bin/Debug/XDropsWater.Bll.Interface.pdb
/XDropsWater/XDropsWater.Bll/bin/Debug/XDropsWater.Bll.dll
/XDropsWater/XDropsWater.Bll/bin/Debug/XDropsWater.Bll.pdb
/XDropsWater/XDropsWater.Bll/bin/Debug/XDropsWater.CrossCutting.dll
/XDropsWater/XDropsWater.Bll/bin/Debug/XDropsWater.CrossCutting.pdb
/XDropsWater/XDropsWater.Bll/bin/Debug/XDropsWater.Dal.Entity.dll
/XDropsWater/XDropsWater.Bll/bin/Debug/XDropsWater.Dal.Entity.dll.config
/XDropsWater/XDropsWater.Bll/bin/Debug/XDropsWater.Dal.Entity.pdb
/XDropsWater/XDropsWater.Bll/bin/Debug/XDropsWater.DataAccess.dll
/XDropsWater/XDropsWater.Bll/bin/Debug/XDropsWater.DataAccess.dll.config
/XDropsWater/XDropsWater.Bll/bin/Debug/XDropsWater.DataAccess.pdb
/XDropsWater/XDropsWater.Bll/bin/Debug/XDropsWater.DataAccess.xml
/XDropsWater/XDropsWater.Bll/bin/Debug/XDropsWater.Model.dll
/XDropsWater/XDropsWater.Bll/bin/Debug/XDropsWater.Model.pdb
/XDropsWater/XDropsWater.Bll/obj/Debug/XDropsWater.Bll.csproj.CopyComplete
/XDropsWater/XDropsWater.Bll/obj/Debug/XDropsWater.Bll.csproj.CoreCompileInputs.cache
/XDropsWater/XDropsWater.Bll/obj/Debug/XDropsWater.Bll.csproj.FileListAbsolute.txt
/XDropsWater/XDropsWater.Bll/obj/Debug/XDropsWater.Bll.csprojAssemblyReference.cache
/XDropsWater/XDropsWater.Bll/obj/Debug/XDropsWater.Bll.dll
/XDropsWater/XDropsWater.Bll/obj/Debug/XDropsWater.Bll.pdb
/XDropsWater/XDropsWater.Bll/obj/Release/XDropsWater.Bll.csproj.CoreCompileInputs.cache
/XDropsWater/XDropsWater.CrossCutting/bin/Debug/ICSharpCode.SharpZipLib.dll
/XDropsWater/XDropsWater.CrossCutting/bin/Debug/Microsoft.Practices.EnterpriseLibrary.Caching.dll
/XDropsWater/XDropsWater.CrossCutting/bin/Debug/Microsoft.Practices.EnterpriseLibrary.Common.dll
/XDropsWater/XDropsWater.CrossCutting/bin/Debug/Microsoft.Practices.EnterpriseLibrary.Data.dll
/XDropsWater/XDropsWater.CrossCutting/bin/Debug/Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.dll
/XDropsWater/XDropsWater.CrossCutting/bin/Debug/Microsoft.Practices.EnterpriseLibrary.Logging.Database.dll
/XDropsWater/XDropsWater.CrossCutting/bin/Debug/Microsoft.Practices.EnterpriseLibrary.Logging.dll
/XDropsWater/XDropsWater.CrossCutting/bin/Debug/Microsoft.Practices.EnterpriseLibrary.Validation.Integration.WCF.dll
/XDropsWater/XDropsWater.CrossCutting/bin/Debug/Microsoft.Practices.EnterpriseLibrary.Validation.dll
/XDropsWater/XDropsWater.CrossCutting/bin/Debug/Microsoft.Practices.ServiceLocation.dll
/XDropsWater/XDropsWater.CrossCutting/bin/Debug/Microsoft.Practices.Unity.Configuration.dll
/XDropsWater/XDropsWater.CrossCutting/bin/Debug/Microsoft.Practices.Unity.Interception.Configuration.dll
/XDropsWater/XDropsWater.CrossCutting/bin/Debug/Microsoft.Practices.Unity.Interception.dll
/XDropsWater/XDropsWater.CrossCutting/bin/Debug/Microsoft.Practices.Unity.dll
/XDropsWater/XDropsWater.CrossCutting/bin/Debug/XDropsWater.CrossCutting.dll
/XDropsWater/XDropsWater.CrossCutting/bin/Debug/XDropsWater.CrossCutting.pdb
/XDropsWater/XDropsWater.CrossCutting/obj/Debug/XDropsWater.CrossCutting.Resources.Messages.resources
/XDropsWater/XDropsWater.CrossCutting/obj/Debug/XDropsWater.CrossCutting.csproj.CopyComplete
/XDropsWater/XDropsWater.CrossCutting/obj/Debug/XDropsWater.CrossCutting.csproj.CoreCompileInputs.cache
/XDropsWater/XDropsWater.CrossCutting/obj/Debug/XDropsWater.CrossCutting.csproj.FileListAbsolute.txt
/XDropsWater/XDropsWater.CrossCutting/obj/Debug/XDropsWater.CrossCutting.csproj.GenerateResource.cache
/XDropsWater/XDropsWater.CrossCutting/obj/Debug/XDropsWater.CrossCutting.csprojAssemblyReference.cache
/XDropsWater/XDropsWater.CrossCutting/obj/Debug/XDropsWater.CrossCutting.dll
/XDropsWater/XDropsWater.CrossCutting/obj/Debug/XDropsWater.CrossCutting.pdb
/XDropsWater/XDropsWater.CrossCutting/obj/Release/XDropsWater.CrossCutting.csproj.CoreCompileInputs.cache
/XDropsWater/XDropsWater.Dal.Entity/bin/Debug/EntityFramework.SqlServer.dll
/XDropsWater/XDropsWater.Dal.Entity/bin/Debug/EntityFramework.SqlServer.xml
/XDropsWater/XDropsWater.Dal.Entity/bin/Debug/EntityFramework.dll
/XDropsWater/XDropsWater.Dal.Entity/bin/Debug/EntityFramework.xml
/XDropsWater/XDropsWater.Dal.Entity/bin/Debug/ICSharpCode.SharpZipLib.dll
/XDropsWater/XDropsWater.Dal.Entity/bin/Debug/InteractivePreGeneratedViews.dll
/XDropsWater/XDropsWater.Dal.Entity/bin/Debug/Microsoft.Practices.EnterpriseLibrary.Caching.dll
/XDropsWater/XDropsWater.Dal.Entity/bin/Debug/Microsoft.Practices.EnterpriseLibrary.Common.dll
/XDropsWater/XDropsWater.Dal.Entity/bin/Debug/Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.dll
/XDropsWater/XDropsWater.Dal.Entity/bin/Debug/Microsoft.Practices.EnterpriseLibrary.Logging.dll
/XDropsWater/XDropsWater.Dal.Entity/bin/Debug/Microsoft.Practices.ServiceLocation.dll
/XDropsWater/XDropsWater.Dal.Entity/bin/Debug/Microsoft.Practices.Unity.Configuration.dll
/XDropsWater/XDropsWater.Dal.Entity/bin/Debug/Microsoft.Practices.Unity.Interception.dll
/XDropsWater/XDropsWater.Dal.Entity/bin/Debug/Microsoft.Practices.Unity.dll
/XDropsWater/XDropsWater.Dal.Entity/bin/Debug/XDropsWater.CrossCutting.dll
/XDropsWater/XDropsWater.Dal.Entity/bin/Debug/XDropsWater.CrossCutting.pdb
/XDropsWater/XDropsWater.Dal.Entity/bin/Debug/XDropsWater.Dal.Entity.dll
/XDropsWater/XDropsWater.Dal.Entity/bin/Debug/XDropsWater.Dal.Entity.dll.config
/XDropsWater/XDropsWater.Dal.Entity/bin/Debug/XDropsWater.Dal.Entity.pdb
/XDropsWater/XDropsWater.Dal.Entity/bin/Debug/XDropsWater.DataAccess.dll
/XDropsWater/XDropsWater.Dal.Entity/bin/Debug/XDropsWater.DataAccess.dll.config
/XDropsWater/XDropsWater.Dal.Entity/bin/Debug/XDropsWater.DataAccess.pdb
/XDropsWater/XDropsWater.Dal.Entity/bin/Debug/XDropsWater.DataAccess.xml
/XDropsWater/XDropsWater.Dal.Entity/obj/Debug/XDropsWater.Dal.Entity.csproj.CopyComplete
/XDropsWater/XDropsWater.Dal.Entity/obj/Debug/XDropsWater.Dal.Entity.csproj.CoreCompileInputs.cache
/XDropsWater/XDropsWater.Dal.Entity/obj/Debug/XDropsWater.Dal.Entity.csproj.FileListAbsolute.txt
/XDropsWater/XDropsWater.Dal.Entity/obj/Debug/XDropsWater.Dal.Entity.csprojAssemblyReference.cache
/XDropsWater/XDropsWater.Dal.Entity/obj/Debug/XDropsWater.Dal.Entity.dll
/XDropsWater/XDropsWater.Dal.Entity/obj/Debug/XDropsWater.Dal.Entity.pdb
/XDropsWater/XDropsWater.Dal.Entity/obj/Release/XDropsWater.Dal.Entity.csproj.CoreCompileInputs.cache
/XDropsWater/XDropsWater.Dal.Entity/obj/Release/XDropsWater.Dal.Entity.csprojAssemblyReference.cache
/XDropsWater/XDropsWater.DataAccess/obj/Debug/XDropsWater.DataAccess.csproj.CopyComplete
/XDropsWater/XDropsWater.DataAccess/obj/Debug/XDropsWater.DataAccess.csproj.CoreCompileInputs.cache
/XDropsWater/XDropsWater.DataAccess/obj/Debug/XDropsWater.DataAccess.csproj.FileListAbsolute.txt
/XDropsWater/XDropsWater.DataAccess/obj/Debug/XDropsWater.DataAccess.csprojAssemblyReference.cache
/XDropsWater/XDropsWater.DataAccess/obj/Debug/XDropsWater.DataAccess.dll
/XDropsWater/XDropsWater.DataAccess/obj/Debug/XDropsWater.DataAccess.pdb
/XDropsWater/XDropsWater.DataAccess/obj/Release/XDropsWater.DataAccess.csproj.CoreCompileInputs.cache
/XDropsWater/XDropsWater.Model/bin/Debug/EntityFramework.dll
/XDropsWater/XDropsWater.Model/bin/Debug/EntityFramework.xml
/XDropsWater/XDropsWater.Model/bin/Debug/ICSharpCode.SharpZipLib.dll
/XDropsWater/XDropsWater.Model/bin/Debug/Microsoft.Practices.EnterpriseLibrary.Caching.dll
/XDropsWater/XDropsWater.Model/bin/Debug/Microsoft.Practices.EnterpriseLibrary.Common.dll
/XDropsWater/XDropsWater.Model/bin/Debug/Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.dll
/XDropsWater/XDropsWater.Model/bin/Debug/Microsoft.Practices.EnterpriseLibrary.Logging.dll
/XDropsWater/XDropsWater.Model/bin/Debug/Microsoft.Practices.ServiceLocation.dll
/XDropsWater/XDropsWater.Model/bin/Debug/Microsoft.Practices.Unity.Configuration.dll
/XDropsWater/XDropsWater.Model/bin/Debug/Microsoft.Practices.Unity.Interception.dll
/XDropsWater/XDropsWater.Model/bin/Debug/Microsoft.Practices.Unity.dll
/XDropsWater/XDropsWater.Model/bin/Debug/XDropsWater.CrossCutting.dll
/XDropsWater/XDropsWater.Model/bin/Debug/XDropsWater.CrossCutting.pdb
/XDropsWater/XDropsWater.Model/bin/Debug/XDropsWater.DataAccess.dll
/XDropsWater/XDropsWater.Model/bin/Debug/XDropsWater.DataAccess.dll.config
/XDropsWater/XDropsWater.Model/bin/Debug/XDropsWater.DataAccess.pdb
/XDropsWater/XDropsWater.Model/bin/Debug/XDropsWater.DataAccess.xml
/XDropsWater/XDropsWater.Model/bin/Debug/XDropsWater.Model.dll
/XDropsWater/XDropsWater.Model/bin/Debug/XDropsWater.Model.pdb
/XDropsWater/XDropsWater.Model/obj/Debug/XDropsWater.Model.csproj.CopyComplete
/XDropsWater/XDropsWater.Model/obj/Debug/XDropsWater.Model.csproj.CoreCompileInputs.cache
/XDropsWater/XDropsWater.Model/obj/Debug/XDropsWater.Model.csproj.FileListAbsolute.txt
/XDropsWater/XDropsWater.Model/obj/Debug/XDropsWater.Model.csprojAssemblyReference.cache
/XDropsWater/XDropsWater.Model/obj/Debug/XDropsWater.Model.dll
/XDropsWater/XDropsWater.Model/obj/Debug/XDropsWater.Model.pdb
/XDropsWater/XDropsWater.Model/obj/Release/XDropsWater.Model.csproj.CoreCompileInputs.cache
/XDropsWater/XDropsWater.Web/bin/Antlr3.Runtime.dll
/XDropsWater/XDropsWater.Web/bin/AutoMapper.Net4.dll
/XDropsWater/XDropsWater.Web/bin/AutoMapper.dll
/XDropsWater/XDropsWater.Web/bin/AutoMapper.pdb
/XDropsWater/XDropsWater.Web/bin/AutoMapper.xml
/XDropsWater/XDropsWater.Web/bin/CommonServiceLocator.dll
/XDropsWater/XDropsWater.Web/bin/CommonServiceLocator.pdb
/XDropsWater/XDropsWater.Web/bin/EntityFramework.SqlServer.dll
/XDropsWater/XDropsWater.Web/bin/EntityFramework.SqlServer.xml
/XDropsWater/XDropsWater.Web/bin/EntityFramework.dll
/XDropsWater/XDropsWater.Web/bin/EntityFramework.xml
/XDropsWater/XDropsWater.Web/bin/ICSharpCode.SharpZipLib.dll
/XDropsWater/XDropsWater.Web/bin/InteractivePreGeneratedViews.dll
/XDropsWater/XDropsWater.Web/bin/Microsoft.Practices.EnterpriseLibrary.Caching.dll
/XDropsWater/XDropsWater.Web/bin/Microsoft.Practices.EnterpriseLibrary.Common.dll
/XDropsWater/XDropsWater.Web/bin/Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.dll
/XDropsWater/XDropsWater.Web/bin/Microsoft.Practices.EnterpriseLibrary.Logging.dll
/XDropsWater/XDropsWater.Web/bin/Microsoft.Practices.ServiceLocation.dll
/XDropsWater/XDropsWater.Web/bin/Microsoft.Practices.Unity.Configuration.dll
/XDropsWater/XDropsWater.Web/bin/Microsoft.Practices.Unity.Interception.dll
/XDropsWater/XDropsWater.Web/bin/Microsoft.Practices.Unity.dll
/XDropsWater/XDropsWater.Web/bin/Microsoft.Web.Infrastructure.dll
/XDropsWater/XDropsWater.Web/bin/Newtonsoft.Json.dll
/XDropsWater/XDropsWater.Web/bin/PagedList.Mvc.dll
/XDropsWater/XDropsWater.Web/bin/PagedList.Mvc.xml
/XDropsWater/XDropsWater.Web/bin/PagedList.dll
/XDropsWater/XDropsWater.Web/bin/PagedList.xml
/XDropsWater/XDropsWater.Web/bin/System.Net.Http.dll
/XDropsWater/XDropsWater.Web/bin/System.Web.Helpers.dll
/XDropsWater/XDropsWater.Web/bin/System.Web.Helpers.xml
/XDropsWater/XDropsWater.Web/bin/System.Web.Mvc.dll
/XDropsWater/XDropsWater.Web/bin/System.Web.Mvc.xml
/XDropsWater/XDropsWater.Web/bin/System.Web.Optimization.dll
/XDropsWater/XDropsWater.Web/bin/System.Web.Providers.dll
/XDropsWater/XDropsWater.Web/bin/System.Web.Razor.dll
/XDropsWater/XDropsWater.Web/bin/System.Web.Razor.xml
/XDropsWater/XDropsWater.Web/bin/System.Web.WebPages.Deployment.dll
/XDropsWater/XDropsWater.Web/bin/System.Web.WebPages.Deployment.xml
/XDropsWater/XDropsWater.Web/bin/System.Web.WebPages.Razor.dll
/XDropsWater/XDropsWater.Web/bin/System.Web.WebPages.Razor.xml
/XDropsWater/XDropsWater.Web/bin/System.Web.WebPages.dll
/XDropsWater/XDropsWater.Web/bin/System.Web.WebPages.xml
/XDropsWater/XDropsWater.Web/bin/Unity.Abstractions.dll
/XDropsWater/XDropsWater.Web/bin/Unity.Abstractions.pdb
/XDropsWater/XDropsWater.Web/bin/Unity.Container.dll
/XDropsWater/XDropsWater.Web/bin/Unity.Container.pdb
/XDropsWater/XDropsWater.Web/bin/Unity.Interception.dll
/XDropsWater/XDropsWater.Web/bin/Unity.Interception.pdb
/XDropsWater/XDropsWater.Web/bin/Unity.ServiceLocation.dll
/XDropsWater/XDropsWater.Web/bin/Unity.ServiceLocation.pdb
/XDropsWater/XDropsWater.Web/bin/WebGrease.dll
/XDropsWater/XDropsWater.Web/bin/XDropsWater.Bll.Interface.dll
/XDropsWater/XDropsWater.Web/bin/XDropsWater.Bll.Interface.pdb
/XDropsWater/XDropsWater.Web/bin/XDropsWater.Bll.dll
/XDropsWater/XDropsWater.Web/bin/XDropsWater.Bll.pdb
/XDropsWater/XDropsWater.Web/bin/XDropsWater.CrossCutting.dll
/XDropsWater/XDropsWater.Web/bin/XDropsWater.CrossCutting.pdb
/XDropsWater/XDropsWater.Web/bin/XDropsWater.Dal.Entity.dll
/XDropsWater/XDropsWater.Web/bin/XDropsWater.Dal.Entity.dll.config
/XDropsWater/XDropsWater.Web/bin/XDropsWater.Dal.Entity.pdb
/XDropsWater/XDropsWater.Web/bin/XDropsWater.DataAccess.dll
/XDropsWater/XDropsWater.Web/bin/XDropsWater.DataAccess.dll.config
/XDropsWater/XDropsWater.Web/bin/XDropsWater.DataAccess.pdb
/XDropsWater/XDropsWater.Web/bin/XDropsWater.DataAccess.xml
/XDropsWater/XDropsWater.Web/bin/XDropsWater.Model.dll
/XDropsWater/XDropsWater.Web/bin/XDropsWater.Model.pdb
/XDropsWater/XDropsWater.Web/bin/XDropsWater.Web.dll
/XDropsWater/XDropsWater.Web/bin/XDropsWater.Web.dll.config
/XDropsWater/XDropsWater.Web/bin/XDropsWater.Web.pdb
/XDropsWater/XDropsWater.Web/bin/dotless.Core.dll
/XDropsWater/XDropsWater.Web/bin/dotless.Core.pdb
/XDropsWater/XDropsWater.Web/obj/Debug/XDropsWater.Web.csproj.CopyComplete
/XDropsWater/XDropsWater.Web/obj/Debug/XDropsWater.Web.csproj.CoreCompileInputs.cache
/XDropsWater/XDropsWater.Web/obj/Debug/XDropsWater.Web.csproj.FileListAbsolute.txt
/XDropsWater/XDropsWater.Web/obj/Debug/XDropsWater.Web.csprojAssemblyReference.cache
/XDropsWater/XDropsWater.Web/obj/Debug/XDropsWater.Web.dll
/XDropsWater/XDropsWater.Web/obj/Debug/XDropsWater.Web.pdb
/XDropsWater/XDropsWater.Web/obj/Release/XDropsWater.Web.csproj.CoreCompileInputs.cache
/XDropsWater/bin/EntityFramework.SqlServer.dll
/XDropsWater/bin/EntityFramework.SqlServer.xml
/XDropsWater/bin/EntityFramework.dll
/XDropsWater/bin/EntityFramework.xml
/XDropsWater/bin/ICSharpCode.SharpZipLib.dll
/XDropsWater/bin/Microsoft.Practices.EnterpriseLibrary.Caching.dll
/XDropsWater/bin/Microsoft.Practices.EnterpriseLibrary.Common.dll
/XDropsWater/bin/Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.dll
/XDropsWater/bin/Microsoft.Practices.EnterpriseLibrary.Logging.dll
/XDropsWater/bin/Microsoft.Practices.ServiceLocation.dll
/XDropsWater/bin/Microsoft.Practices.Unity.Configuration.dll
/XDropsWater/bin/Microsoft.Practices.Unity.Interception.dll
/XDropsWater/bin/Microsoft.Practices.Unity.dll
/XDropsWater/bin/XDropsWater.CrossCutting.dll
/XDropsWater/bin/XDropsWater.CrossCutting.pdb
/XDropsWater/bin/XDropsWater.DataAccess.dll
/XDropsWater/bin/XDropsWater.DataAccess.dll.config
/XDropsWater/bin/XDropsWater.DataAccess.pdb
/XDropsWater/bin/XDropsWater.DataAccess.xml
