@{
    ViewBag.Title = "登录";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('#UName').focus();
        })
        function CheckLogin() {
            //验证用户必须输入必填项
            var validate = $("#ff").form("validate");
            if (validate == false) {
                return false;
            }
            //获取传递前台的参数，UName，Pwd，Code
            var postData = {
                uname: $("#UName").val(),
                pwd: $("#Pwd").val(),
                code: $("#Code").val()
            };
            $.messager.progress({
                title: '登录中',
                msg: '正在登录，请稍候...'
            });
            //异步实现登录功能
            $.post("/Login/CheckUser", postData, function (data) {
                $.messager.progress('close');
                if (data.ErrCode == 0) {
                    window.location.href = "/Home/Index";
                }
                else {
                    $.messager.alert('登录失败', data.ErrMsg, 'error');
                    $("#Code").val('');
                    $("#Pwd").val('');
                }
            });
        }

        function ResetLogin() {
            $('#ff').form('clear');
        }


        //单击重新改变验证码
        function ChangeVerifyCode() {
            var code = $("#imgCode").attr("src");
            $("#imgCode").attr("src", code + "1");
        }
    </script>
}

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>Admin</b>LTE</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>
            <form action="../../index2.html" method="post">
                <div class="form-group has-feedback">
                    <input type="email" class="form-control" placeholder="Email">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input type="checkbox"> Remember Me
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <div class="social-auth-links text-center">
                <p>- OR -</p>
                <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                    <i class="fa fa-facebook"></i> Sign in using
                    Facebook
                </a>
                <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                    <i class="fa fa-google-plus"></i> Sign in using
                    Google+
                </a>
            </div>
            <!-- /.social-auth-links -->
            <a href="#">I forgot my password</a><br>
            <a href="register.html" class="text-center">Register a new membership</a>
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery 2.2.3 -->
    <script src="../../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="../../plugins/iCheck/icheck.min.js"></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
</body>


<div id="root" style="width: 615px; height: 334px;margin:15% 0 0 20%;" class="loginTable">
    <form id="ff" method="post">
    <div class="login-info">
        <div style="float: left; width: 200px;">
            <img src="~/Images/logo1.jpg" style="width:198px" />
        </div>
        <div class="login-input">
            <div class="loginField" style="font-size:23px;font-family:微软雅黑;">
                @*SimpleWeb Site*@
                小水滴代理系统
            </div>
            <div class="loginField">
                <div class="labelAndTextboxSeparation">
                    <label for="UName">
                        用户名：
                    </label>
                </div>
                <div>
                    <input style="width:150px" class="easyui-validatebox" type="text" id="UName" name="UName" value="@ViewBag.UName" data-options="required:true,validType:'length[1,32]'" onkeydown="if(event.keyCode==13){CheckLogin();}"/>
                </div>
            </div>
            <div class="loginField">
                <div class="labelAndTextboxSeparation">
                    <label for="Pwd">
                        密 码：
                    </label>
                </div>
                <div>
                    <input style="width:150px" class="easyui-validatebox" type="password" id="Pwd" name="Pwd" data-options="required:true,validType:'length[1,32]'"
                        onkeydown="if(event.keyCode==13){CheckLogin();}" /></div>
            </div>
            <div class="loginField">
                <div class="labelAndTextboxSeparation">
                    <label for="Code">
                        验证码：
                    </label>
                </div>
                <div>
                    <img src="/Login/GetVerifyCode?Code=1" id="imgCode" title="单击可刷新" class="easyui-tooltip"
                        onclick="ChangeVerifyCode()" height="25px" width="60px" align="top" />
                    &nbsp;
                    <input style="width:80px" class="easyui-validatebox" type="text" id="Code" name="Code" data-options="required:true,validType:'length[1,20]'"
                        onkeydown="if(event.keyCode==13){CheckLogin();}" style="width: 80px" />
                </div>
            </div>
            <div class="loginField" style="margin:30px 0 0 60px;">
                <a href="javascript:void(0)" class="easyui-linkbutton" id="btnLogin" onclick="CheckLogin();">
                    登&nbsp;&nbsp;&nbsp;&nbsp;录</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="javascript:void(0)" class="easyui-linkbutton" id="btnReset"
                        onclick="ResetLogin()">重&nbsp;&nbsp;&nbsp;&nbsp;置</a>
            </div>
        </div>
    </div>
    </form>
</div>
