<script>
    $(function () {
        
        $('#achGrid').datagrid({
            columns: [[
                { field: 'ID', title: 'ID', hidden: true, width: 80 },
        { field: 'MemberIdentityCardNo', title: '身份证号码', width: 200 },
        { field: 'MemberName', title: '姓名', width: 100 },
        { field: 'Amount', title: '业绩金额', width: 100 },
        { field: 'BatchNumber', title: '批次号', width: 100 },
            {
                field: 'opt', title: '操作', width: 100, align: 'center',
                formatter: function (value, rec) {
                    var btn = '<a class="editcls" onclick="removeRow(\'' + rec.ID + '\',\'' + rec.MemberIdentityCardNo + '\',\'' + rec.MemberName + '\',\'' + rec.Amount + '\')" href="javascript:void(0)">删除</a>';
                    return btn;
                }
            }
            ]],
            onLoadSuccess: function (data) {
                $('.editcls').linkbutton({ text: '删除', iconCls: 'icon-remove' });
            }
        });
        FindData();
    });
    function removeRow(id, cardNo, memberName, amount) {
        $.messager.confirm('删除确认', '您确定要删除【' + cardNo + '】，' + '【' + memberName + '】，' + '【' + amount + '】吗？', function (r) {
            if (r) {
                $.post("/Achieve/Delete", { id: id }, function (d) {
                    if (d.ErrCode == 0) {
                        $.messager.alert('提示', '删除成功！', 'info');
                        FindData();
                    }
                    else {
                        $.messager.alert('提示', '删除失败：' + d.ErrMsg, 'info');
                    }
                });
            }

        });
    }
    function FindData() {

        $('#achGrid').datagrid('loadData', { total: 0, rows: [] });

        $('#achGrid').datagrid({
            url: '/Achieve/Get?random=' +
            Math.random(),
            queryParams: { cardNo: $('#txtSearchCardNo').val(),type:1 }
        });

        $.post('/Achieve/SumAchieve?random=' + Math.random(), { cardNo: $('#txtSearchCardNo').val() }, function (r) {
            $('#txtSumAchieve').html(r);
        });
    }
    function AddAch() {
        var dlg = $('#achDlg');
        dlg.dialog({ title: '添加业绩', modal: true, cache: false });
        //$('#achForm').form('clear');
        $('#txtIDCard').val('');
        $('#txtIDCard').focus();
        var vName = '';
        $('#txtName').val(vName);
        $('#txtAchieveAmount').numberbox('setValue', '');

        $('#achID').val('00000000-0000-0000-000000-000000000000');
        dlg.dialog('open');
        $('#txtIDCard').focus();
    }
    function CheckIDCardNo() {
        var cardLength = $('#txtIDCard').val().length + 1;
        $('#idCardNo').html(cardLength);
    }
    function CheckDlg() {

        var valid = $('#achForm').form('validate');
        if (valid == false)
            return false;
        else {
            //if (CheckIDCard())
            //{
            //    $('#btnSave').focus();
            //    return true;
            //}
            //return false;
            $('#btnSave').focus();
            return true;
        }

    }
    function CheckIDCard() {
        var cardNo = $('#txtIDCard').val();
        $.post("/Achieve/CheckIDCard", { cardNo: cardNo }, function (d) {
            if (d.MemberName == '') {
                if (d.Result.ErrCode == '12') {
                    $.messager.confirm('添加确认', d.Result.ErrMsg, function (r) {
                        if (r) {
                            var dlg = $('#memDlg');

                            dlg.dialog('setTitle', '添加代理');
                            dlg.dialog('open');
                            $('#txtCardNo').val(cardNo);
                            $('#txtNewName').val('');
                            $('#txtNewName').focus();
                        }
                    });
                }
                else {
                    //显示其他错误
                    if (cardNo != '') {
                        $.messager.confirm('确认', d.Result.ErrMsg, function (r) {
                            if (r) {
                                $('#txtIDCard').val('');
                                $('#txtIDCard').focus();
                            }

                        });
                    }

                }

                return false;
            }
            else {
                $('#txtName').val(d.MemberName);
                $('#txtAchieveAmount').focus();
                return true;
            }
            return false;
        });
    }
    function CheckMemDlg() {
        var valid = $('#memForm').form('validate');
        if (valid == false)
            return false;
        else {
            $('#btnMemSave').focus();
            return true;
        }
    }
    function CheckIDCardForNew() {
        $.post("/Achieve/CheckID", { cardNo: $('#txtCardNo').val() }, function (d) {
            if (!d) {
                //身份证号码输入有误，是否重新输入？
                $.messager.confirm('确认', '身份证号码输入有误，是否重新输入？', function (r) {
                    if (r) {
                        $('#txtCardNo').val('');
                        $('#txtCardNo').focus();
                    }

                });
            }
        });
    }
    function saveMem() {
        var cardNo = $('#txtCardNo').val();
        var memberName = $('#txtNewName').val();
        if (memberName == '') {
            $.messager.alert('提示', '姓名不能为空！', 'info', function () {
                $('#txtNewName').focus();
            });

            return;
        }
        $.messager.confirm('请再确认一下身份证号码和姓名', '<span style="font-size:large">【' + cardNo.substr(0, 6) + '&nbsp;&nbsp;'
            + cardNo.substr(6, 4) + '&nbsp;&nbsp;' + cardNo.substr(10, 4) + '&nbsp;&nbsp;' + cardNo.substr(14, 10) + '】</span>，<span style="font-size:large">【' + memberName + '】</span>', function (r) {
            if (r) {
                $.post("/Member/Add", { cardNo: cardNo, memberName: memberName },
            function (d) {
                if (d.ErrCode == 0) {
                    $('#txtIDCard').val(cardNo);
                    $('#txtName').val(memberName);
                    $('#txtAchieveAmount').focus();
                    $('#memDlg').dialog('close');
                    $.messager.alert('提示', '添加成功!', 'info', function () { $('#txtAchieveAmount').focus(); });

                }
                else {
                    $.messager.alert('提示', '添加失败!' + d.ErrMsg, 'info');
                }
            });
            }
        });

    }

    function saveAch() {
        if ($('#txtName').val() == '') {
            //$.messager.alert('提示', '正在检测身份信息，请稍等......!', 'info');
            window.location.href = "/Login/Logout";
            return;
        }
        //if (CheckIDCard()) return;
        $.post("/Achieve/Add", { cardNo: $('#txtIDCard').val(), amount: $('#txtAchieveAmount').val() }, function (d) {
            if (d.ErrCode == 0) {
                //$.messager.alert('提示', '添加成功!', 'info');
                //$('#achForm').form('clear');
                $('#achDlg').dialog('close');

                $('#txtIDCard').val('');
                $('#txtIDCard').focus();
                var vName = '';
                $('#txtName').val(vName);
                $('#txtAchieveAmount').numberbox('setValue', '');
                $('#idCardNo').html('0');
                AddAch();
                FindData();
                //AddAch();

            }
            else {
                $.messager.alert('提示', '操作失败!' + d.ErrMsg, 'info');
            }
        });
    }
    function doSubmit() {
        $.messager.confirm('提交确认', '提交之后不能更改，您确定要提交吗？', function (r) {
            if (r) {
                $.post("/Achieve/Submit", {}, function (d) {
                    if (d.ErrCode == 0) {
                        $.messager.alert('提示', '提交成功！', 'info');
                        FindData();
                    }
                    else {
                        $.messager.alert('提示', '提交失败：' + d.ErrMsg, 'info');
                    }

                });

            }
        });
    }

    function countChar(textareaID, spanID, maxNum) {
        //得到输入的字符的长度
        var NowNum = document.getElementById(textareaID).value.length;
        //判断输入的长度是否超过规定的长度
        if (NowNum > maxNum) {
            //如果超过就截取规定长度的内容
            document.getElementById(textareaID).value = document.getElementById(textareaID).value.substring(0, maxNum);
        }
        else {
            //得到当前的输入长度并且显示在页面上
            document.getElementById(spanID).innerHTML = NowNum;
        }
    }
    //得到当前的输入长度并且显示在页面上
    function SetLength(textareaID, spanID) {
        var NowNum = document.getElementById(textareaID).value.length;

        document.getElementById(spanID).innerHTML = NowNum;
    }

    function PageInit() {
        SetLength('txtIDCard', 'idCardNo');
    }
    function IDCardKeyKown()
    {
        if (event.keyCode == 13) { CheckDlg(); return; }
        else
            countChar('txtIDCard', 'idCardNo', 500);
    }
</script>
<div id="searchTool">
    &nbsp;&nbsp;&nbsp;&nbsp;
    身份证号码：<input type="text" id="txtSearchCardNo" style="width:200px" onkeydown="if (event.keyCode == 13) { FindData(); }" />
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="javascript:void(0)" onclick="FindData()" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="javascript:void(0)" onclick="AddAch()" class="easyui-linkbutton" data-options="iconCls:'icon-add'">添加</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    @*<a href="javascript:void(0)" onclick="RemoveAch()" class="easyui-linkbutton" data-options="iconCls:'icon-remove'">删除</a>*@
    <a href="javascript:void(0)" onclick="doSubmit()" class="easyui-linkbutton" data-options="iconCls:'icon-ok'">提交</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    业绩合计：<span id="txtSumAchieve"></span>
</div>
<table id="achGrid" title="" toolbar="#searchTool"
       data-options="rownumbers:true,singleSelect:true,method:'get',
        loadMsg:'正在查询，请稍候……'">
    @*<thead>
            <tr>
                <th data-options="field:'ID',hidden:true">编号</th>
                <th data-options="field:'MemberIdentityCardNo',width:200">身份证号码</th>
                <th data-options="field:'MemberName',width:100">姓名</th>
                <th data-options="field:'Amount',width:100">业绩金额</th>
            </tr>
        </thead>*@
</table>
<div id="achDlg" class="easyui-dialog" style="width: 500px; height: 250px" closed="true">
    <form id="achForm" method="post">
        <table>
            <tr>
                <td>
                    <input type="text" id="achID" name="id" style="display: none" />
                </td>
            </tr>
            <tr>
                <td style="text-align: right"><span style="font-size:large">身份证号码：</span></td>
                <td>
                    <input id="txtIDCard" style="width: 250px; height:30px; font-size:large" class="easyui-validatebox" type="text" data-options="required:true@*,validType:'length[15,18]'*@"
                           @*onkeydown="if (event.keyCode == 13) { CheckDlg(); }"*@ onblur="    CheckIDCard();" @*onkeypress="    CheckIDCardNo()"*@
                           onkeydown="IDCardKeyKown();" onkeyup="    countChar('txtIDCard', 'idCardNo', 500);" />
                    <span style="font-size:large; color:red" id="idCardNo">0</span><span style="font-size: large; color:red">位</span>
                </td>
            </tr>
            <tr>
                <td style="text-align: right"><span style="font-size:large">姓名：</span></td>
                <td>
                    @*<input id="txtName" onkeydown="if(event.keyCode==13){CheckDlg();}" class="easyui-validatebox" type="text" data-options="readonly:true,required:true,validType:'length[1,20]'" />*@
                    <input id="txtName" style="height:30px; font-size:large" type="text" disabled="disabled" />

                </td>
            </tr>
            <tr>
                <td style="text-align: right"><span style="font-size:large">业绩金额：</span></td>
                <td>
                    <input id="txtAchieveAmount" style="height:30px; font-size:large" onkeydown="if(event.keyCode==13){CheckDlg();}" class="easyui-numberbox" type="text" data-options="required:true,min:0,precision:2" />
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right; padding-top: 10px">
                    <a href="javascript:void(0)" class="easyui-linkbutton" id="btnSave" iconcls="icon-ok" onclick="saveAch()">确定</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#achDlg').dialog('close')">关闭</a>
                </td>
            </tr>
        </table>

    </form>
</div>

<div id="memDlg" class="easyui-dialog" style="width: 400px; height: 200px" closed="true">
    <form id="memForm" method="post">
        <table>
            <tr>
                <td>
                    <input type="text" id="memID" name="id" style="display: none" />
                </td>
            </tr>
            <tr>
                <td style="text-align: right"><span style="font-size:large">身份证号码：</span></td>
                <td>
                    <input id="txtCardNo" disabled="disabled" style="width: 250px; height:30px; font-size:large" type="text" />
                </td>
            </tr>
            <tr>
                <td style="text-align: right"><span style="font-size:large">姓名：</span></td>
                <td>
                    <input id="txtNewName" style="height:30px; font-size:large" onkeydown="if(event.keyCode==13){CheckMemDlg();}" class="easyui-validatebox" type="text" data-options="readonly:true,required:true,validType:'length[1,20]'" />
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right; padding-top: 10px">
                    <a href="javascript:void(0)" class="easyui-linkbutton" id="btnMemSave" iconcls="icon-ok" onclick="saveMem()">确定</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#memDlg').dialog('close')">关闭</a>
                </td>
            </tr>
        </table>

    </form>
</div>
