<table id="userGrid" class="easyui-datagrid" title="用户列表" style="height: 250px"
    data-options="rownumbers:true,singleSelect:true,url:'/User/List',method:'get',
        loadMsg:'正在加载角色列表，请稍候……',
        toolbar: [{
                    text:'刷新',
                    iconCls:'icon-reload',
                    handler:function(){
                        reloadUser()
                    }
                },'-',{
                    text:'添加',
                    iconCls:'icon-add',
                    handler:function(){
                        addUser()
                    }
                },'-',{
                    text:'修改',
                    iconCls:'icon-edit',
                    handler:function(){
                        editUser()
                    }
                },'-',{
                    text:'删除',
                    iconCls:'icon-remove',
                    handler:function(){
                        removeUser()
                    }
                }]">
    <thead>
        <tr>
            <th data-options="field:'Account',width:100">帐号</th>
            <th data-options="field:'Password',width:100,formatter:function(value){ return '*********';}">密码</th>
            <th data-options="field:'Name',width:100">姓名</th>
            <th data-options="field:'Sex',width:100,formatter:function(value)
            {if(value==0)
              {
              return '女';
              }
            else
              {
              return '男';
              }
             }">性别</th>
            <th data-options="field:'MobTel',width:100">手机</th>
            <th data-options="field:'Telphone',width:100">座机</th>
            <th data-options="field:'Address',width:100">地址</th>
        </tr>
    </thead>
</table>

<div id="userDepDlg" class="easyui-dialog" style="width: 500px; height: 400px; padding: 10px 20px"
    closed="true" resizable="true" modal="true" align="center">
    <form id="userDepForm" method="post" novalidate="true">
        <table id="usertblAdd">
            <tr>
                <td>
                    <input type="text" id="userId" name="userId" style="display: none" />
                    <input type="text" id="userAccountId" name="userAccountId" style="display: none" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>帐号：</label>
                    <input class="easyui-validatebox" type="text" id="userAccountName" name="userAccountName" data-options="required:true,validType:'useraccount'" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>密码：</label>
                    <input class="easyui-validatebox" type="password" id="userPassword" name="userPassword" data-options="required:true,validType:'length[1,32]'" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>姓名：</label>
                    <input class="easyui-validatebox" type="text" id="userName" name="userName" data-options="required:true,validType:'length[1,32]'" />
                </td>
            </tr>
            <tr>
                <td >
                    <label>性别：</label>
                    <select class="easyui-combobox" style="width: 150px;" id="userSex" name="userSex" data-options="required:true">
                        <option value="0">女</option>
                        <option value="1">男</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>手机：</label>
                    <input class="easyui-validatebox" type="text" id="userMobTel" name="userMobTel" data-options="required:true,validType:'usermobile'" />
                </td>
            </tr>
            
            <tr>
                <td>
                    <label>座机：</label>
                    <input class="easyui-validatebox" type="text" id="userTelphone" name="userTelphone" data-options="required:true,validType:'length[1,32]'" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>地址：</label>
                    <textarea id="Address" name="Address" rows="3" cols="20" style="width:200px" />
                </td>
            </tr>
            
            
            <tr>
                <td style="text-align: center; padding-top: 10px">
                    <a href="javascript:void(0)" class="easyui-linkbutton" id="btnSaveUser" iconcls="icon-ok" onclick="saveUser()">确定</a>&nbsp;
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#userDepDlg').dialog('close')">关闭</a>
                </td>
            </tr>
        </table>
    </form>
</div>

<script type="text/javascript">

    var busOpMode = 0; //0:None, 1:Add, 2:Edit

    $(function () {
        $('#userGrid').datagrid({
            onDblClickRow: function (index, data) {
                editUser();
            }
        });
        VaildUser();
    });


    function VaildUser() {
        $.extend($.fn.validatebox.defaults.rules, {
            //  验证用户名是否重复
            useraccount: {
                validator: function (value) {
                    var isExist;
                    $.ajax({
                        type: 'post',
                        url: '/User/IsUserExist',
                        data: { account: value },
                        async: false,
                        success: function (data) {
                            if (data) {
                                $.fn.validatebox.defaults.rules.useraccount.message = '此帐号已存在，请重新输入';
                                isExist = data;
                                return false;
                            }
                        }
                    });
                    if (!isExist)
                        return true;
                },
                message: ''
            },
            usermobile: {
                validator: function (value) {
                    var reg = /^(((13[0-9]{1})|(14[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/.test(value);;
                    if (reg == false) {
                        $.fn.validatebox.defaults.rules.usermobile.message = '请输入正确的手机号码';
                    }
                    return reg;
                },
                message: ''
            }


        });
    }

    //    ///Subgrid，子表未完成///
    //    $(function () {
    //        $('#userGrid').datagrid({
    //            view: detailview,
    //            detailFormatter: function (index, row) {
    //                return '<div style="padding:2px"><table id="ddv-' + index + '"></table></div>';
    //            },
    //            onExpandRow: function (index, row) {
    //                $('#ddv-' + index).datagrid({
    //                    url: 'DataMan/List?ser=user&role=' + row.Id,
    //                    fitColumns: true,
    //                    singleSelect: true,
    //                    rownumbers: true,
    //                    loadMsg: '',
    //                    height: 'auto',
    //                    columns: [[
    //                            { field: 'RoleId', title: '拥有角色', width: 100, align: 'right' },
    //                        ]],
    //                    onResize: function () {
    //                        $('#userGrid').datagrid('fixDetailRowHeight', index);
    //                    },
    //                    onLoadSuccess: function () {
    //                        setTimeout(function () {
    //                            $('#userGrid').datagrid('fixDetailRowHeight', index);
    //                        }, 0);
    //                    }
    //                });
    //                $('#userGrid').datagrid('fixDetailRowHeight', index);
    //            }
    //        });
    //    });

    function reloadUser() {
        $('#userGrid').datagrid('reload', []);
        $('#myroleGrid').datagrid('reload', []);
        $('#allroleGrid').datagrid('reload', []);
    }

    function addUser() {
        depOpMode = 1;
        var dlg = $('#userDepDlg');
        dlg.dialog('setTitle', '添加新用户');
        $('#userDepForm').form('clear');
        //var item = $('#myroleGrid').datagrid('getRows');
        //if (item) {
        //    for (var i = item.length - 1; i >= 0; i--) {
        //        var index = $('#myroleGrid').datagrid('getRowIndex', item[i]);
        //        $('#myroleGrid').datagrid('deleteRow', index);
        //    }
        //}
        $("#userId").val(-1);
        $('#userAccountName').validatebox({
            novalidate: false
        })
        $('#userSex').combobox('setValue', "1");
        dlg.dialog('open');
    }

    function editUser() {
        depOpMode = 2;
        var dlg = $('#userDepDlg');
        dlg.dialog('setTitle', '修改用户');
        if ($("#userGrid").datagrid("getSelections").length > 0) {
            var selectId = $("#userGrid").datagrid("getSelections")[0].Id;
            $('#userDepForm').form('clear');
            $.getJSON("/User/GetDetail", { id: selectId }, function (data) {
                //绑定数据显示到用户控件上面,RoleName1，RoleType1
                $("#userId").val(data.Id);
                $("#userAccountName").val(data.Account);
                $("#userPassword").val(data.Password);
                $("#userCheckPassword").val(data.Password);
                //$("#userDepartmentId").combobox('setValue', data.DepartmentId);
                $("#userName").val(data.Name);
                $("#userSex").combobox('setValue', data.Sex);
                $("#userTelphone").val(data.Telphone);
                $("#userMobTel").val(data.MobTel);
                //var item = $('#myroleGrid').datagrid('getRows');
                //if (item) {
                //    for (var i = item.length - 1; i >= 0; i--) {
                //        var index = $('#myroleGrid').datagrid('getRowIndex', item[i]);
                //        $('#myroleGrid').datagrid('deleteRow', index);
                //    }
                //}
                //for (var i = 0; i < data.Roles.length; i++) {
                //    $("#myroleGrid").datagrid('appendRow', {
                //        Id: data.Roles[i].Id,
                //        Name: data.Roles[i].Name
                //    });
                //}
            })
            $('#userAccountName').validatebox({
                novalidate: true
            });
            dlg.dialog('open');

        }
        else {
            $.messager.alert('提示', '请先选择要修改的用户！', 'info');
        }
    }


    function removeUser() {
        if ($("#userGrid").datagrid("getSelections").length > 0) {
            var selectName = $("#userGrid").datagrid("getSelections")[0].Name;
            $.messager.confirm('删除角色', '删除后数据不能恢复，你真的要删除用户[' + selectName + ']吗？', function (res) {
                if (res) {
                    var postData = {
                        ser: 'userinfo',
                        id: $("#userGrid").datagrid("getSelections")[0].Id
                    };
                    $.post("/User/Remove", postData, function (data) {
                        if (data.ErrCode == 0) {
                            reloadUser();
                            $.messager.alert('提示', '删除成功！', 'info');
                        }
                        else {
                            $.messager.alert('提示', '删除失败：' + data.ErrMsg, 'info');
                        }
                    });
                }
            });
        }
        else {
            $.messager.alert('提示', '请先选择要删除的用户！', 'info');
        }
    }

    function saveUser() {
        //验证用户必须输入必填项
        var validate = $("#userDepForm").form("validate");
        if (validate == false) {
            return false;
        }
        if (userCheckPassword.value != userPassword.value) {
            userCheckPassword.value = "";
            userPassword.value = "";
            $.messager.alert('提示', '两次输入密码不相同！', 'info');
            return false;
        }
        var rolList = '';
        if ($("#myroleGrid").datagrid("getRows").length > 0) {
            for (var i = 0; i < $("#myroleGrid").datagrid("getRows").length; i++) {
                rolList += $("#myroleGrid").datagrid("getRows")[i].Id + ",";
            }
        }
        var postData = {
            userId: $("#userId").val(),
            name: $("#userName").val(),
            account: $("#userAccountName").val(),
            password: $("#userPassword").val(),
            telphone: $("#userTelphone").val(),
            mobtel: $("#userMobTel").val(),
            sex: $("#userSex").combobox('getValue')
            //departmentid: $("#userDepartmentId").combobox('getValue'),
            //roleList: rolList.substring(0, rolList.length - 1)
        };
        $.messager.progress({
            title: '保存中',
            msg: '正在保存，请稍候...'
        });
        //异步实现登录功能
        $.post("/User/SaveUser", postData, function (data) {
            $.messager.progress('close');
            if (data.ErrCode == 0) {
                reloadUser();
                $('#userDepDlg').dialog('close');
            }
            else {
                $.messager.alert('保存失败', data.ErrMsg, 'error');
            }
        });
    }
    //添加角色
    function AddMyRole() {
        var addrole = $('#allroleGrid').datagrid('getSelected');
        for (var i = 0; i < $("#myroleGrid").datagrid("getRows").length; i++) {
            var index = $('#myroleGrid').datagrid('getRows')[i].Name;
            if (index == addrole.Name) {
                $.messager.alert('提示', '该角色已添加，请不要重复添加！', 'info');
                return false;
            }
        }
        $('#myroleGrid').datagrid('appendRow', {
            Id: addrole.Id, Name: addrole.Name
        });
    }

    //删除角色
    function RemoveMyRole() {
        var row = $('#myroleGrid').datagrid('getSelected');
        var remove = $('#myroleGrid').datagrid('getRowIndex', row);
        $('#myroleGrid').datagrid('deleteRow', remove);
    }

</script>
