<script>
    $(function () {
        $('#storeManage_StoreGrid').datagrid({
            columns: [[
                { field: 'ID', title: 'ID', hidden: true, width: 80 },
        { field: 'Account', title: '账号', width: 150 },
        {
            field: 'Password', title: '密码', width: 150,
            formatter: function () { return "******"; }
        },
        { field: 'Name', title: '店长姓名', width: 80 },
        {
            field: 'Sex', title: '性别', width: 80,
            formatter: function (value, resc) {
                if (value == '0') return '女';
                else if(value=='1') return '男'
            }
        },
        { field: 'MobTel', title: '手机号码', width: 150 },
        { field: 'Telphone', title: '固定电话', width: 150 },
        { field: 'Fax', title: '传真', width: 150 },
        { field: 'Address', title: '地址', width: 200 },
            ]],
            pagination: true,
            pageSize: 10,
            pageList: [10, 20, 30, 40],
            url: '/User/GetStore?random=' +
            Math.random(),
            queryParams: { account: $('#storeManage_TextAccount').val() },
            onDblClickRow: function (rowIndex, rowData) {
                storeManage_Modify(rowData.ID, rowData.Account, rowData.Name, rowData.Sex, rowData.MobTel, rowData.Telphone,
                    rowData.Fax, rowData.Address, rowIndex);
            }
        });

        //enter change to tab
        //storeManage_EnterToTab();
        
    });

    //enter change to tab
    function storeManage_EnterToTab()
    {
        $('#storeManage_TextStoreAccount').keydown(function () {
            if (event.keyCode == 13) $('#storeManage_TextStoreManagerName').focus();
        });
        $('#storeManage_TextStoreManagerName').keydown(function () {
            if (event.keyCode == 13) $('#storeManage_SelectSex').focus();
        });
        $('#storeManage_SelectSex').keydown(function () {
            if (event.keyCode == 13) $('#storeManage_TextTelephone').focus();
        });
        $('#storeManage_TextTelephone').keydown(function () {
            if (event.keyCode == 13) $('#storeManage_TextMobile').focus();
        });
        $('#storeManage_TextMobile').keydown(function () {
            if (event.keyCode == 13) $('#storeManage_TextFax').focus();
        });
        $('#storeManage_TextFax').keydown(function () {
            if (event.keyCode == 13) $('#storeManage_TextAddress').focus();
        });
        $('#storeManage_TextAddress').keydown(function () {
            if (event.keyCode == 13) $('#storeManage_ButtonMemberSave').focus();
        });
    }

    function storeManage_Modify(id,account,name,sex,mobile,telephone,fax,address,rowIndex)
    {
        var dlg = $('#storeManage_AddStoreDialog');
        $('#frmstoreManage_AddStoreDialog').form('clear');
        $('#storeManage_SelectSex').val(1);
        $('#storeManage_TextStoreAccount').val(account);
        $('#storeManage_TextStoreAccount').attr("disabled", "disabled");
        $('#storeManage_TextStoreManagerName').val(name);
        //if (sex == '1')
        //{
        //    $('#storeManage_SelectSex').attr('value', 1);
        //}
        //else
        //{
        //    $('#storeManage_SelectSex').attr('value', 0);
        //}
        $('#storeManage_SelectSex').val(sex);
        $('#storeManage_TextTelephone').val(mobile);
        $('#storeManage_TextMobile').val(telephone);
        $('#storeManage_TextFax').val(fax);
        $('#storeManage_TextAddress').val(address);
        $('#storeManage_TextRowIndex').val('-1');
        $('#storeManage_TextUserId').val('-1');
        $('#storeManage_TextRowIndex').val(rowIndex);
        $('#storeManage_TextUserId').val(id);
        dlg.dialog({ title: '修改专卖店信息' });
        dlg.dialog('open');
       
    }

    function storeManage_Find() {
        //check session expire
        $.post("/Common/SessionExpire?random=" + Math.random(), {}, function (data) {
            if (data == XDropsWaterSystem.executeResult.Success)
            {
                $('#storeManage_StoreGrid').datagrid({
                    url: '/User/GetStore?random=' +
                    Math.random(),
                    queryParams: { account: $('#storeManage_TextAccount').val() }
                });
            }
            else if (data == XDropsWaterSystem.executeResult.Login) {
                $.messager.alert('重新登录', '由于您长时间未操作，系统需要重新登录', 'info', function () {
                    window.location.href = "../Login/Logout";
                });
            }
        });
        
    }
    function storeManage_AddStoreDialog() {
        var dlg = $('#storeManage_AddStoreDialog');
        $('#frmstoreManage_AddStoreDialog').form('clear');
        $('#storeManage_TextStoreAccount').removeAttr("disabled");
        $('#storeManage_TextUserId').val('-1');
        dlg.dialog({ title: '添加专卖店', modal: true });
        dlg.dialog('open');
        $('#storeManage_TextStoreAccount').focus();
    }
    function storeManage_ModifyStore()
    {
        var id = $('#storeManage_TextUserId');
        var account = $('#storeManage_TextStoreAccount');
        var name = $('#storeManage_TextStoreManagerName');
        var sex = $('#storeManage_SelectSex');
        var telephone = $('#storeManage_TextTelephone');
        var mobile = $('#storeManage_TextMobile');
        var fax = $('#storeManage_TextFax');
        var address = $('#storeManage_TextAddress');
        if(id.val()=='')
        {
            $.messager.alert('错误', '没有获取到用户ID，请联系管理员', 'info');
            return;
        }

        if (account.val() == '') {
            $.messager.alert('提示', '获取账号失败，请联系管理员修正', 'info');
            return;
        }
        
        if (name.val() == '') {
            $.messager.alert('提示', '店长姓名必须输入', 'info', function () {
                name.focus();
            });
            return;
        }
 
        $.post("/User/ModifyStore?random=" + Math.random(),
            {
                id:id.val(),
                name: name.val(),
                sex: sex.val(),
                telephone: telephone.val(),
                mobile: mobile.val(),
                fax: fax.val(),
                address: address.val()
            },
            
            function (data) {
                if (data == XDropsWaterSystem.executeResult.Success) {
                    $.messager.alert('保存成功', '保存成功', 'info', function () {
                    $('#storeManage_AddStoreDialog').dialog('close');
                    //直接更新grid
                    $('#storeManage_StoreGrid').datagrid('updateRow', {
                        index: $('#storeManage_TextRowIndex').val(),
                        row: {
                            Name: name.val(),
                            Sex: sex.val(),
                            Telphone: telephone.val(),
                            MobTel: mobile.val(),
                            Fax: fax.val(),
                            Address:address.val()
                            }
                        });
                    });
                }
                else if (data == XDropsWaterSystem.executeResult.Exception) {
                    $.messager.alert('保存失败', '系统出现异常，请联系管理员', 'info');
                }
                else if (data == XDropsWaterSystem.executeResult.Login) {
                    $.messager.alert('重新登录', '由于您长时间未操作，系统需要重新登录', 'info', function () {
                        window.location.href = "../Login/Logout";
                    });
                }
                else {
                    $.messager.alert('保存失败', data, 'info');
                }
        });
    }
    function storeManage_AddStore() {
        var account = $('#storeManage_TextStoreAccount');
        var name = $('#storeManage_TextStoreManagerName');
        var sex = $('#storeManage_SelectSex');
        var telephone = $('#storeManage_TextTelephone');
        var mobile = $('#storeManage_TextMobile');
        var fax = $('#storeManage_TextFax');
        var address = $('#storeManage_TextAddress');
        if (account.val() == '') {
            $.messager.alert('提示', '账号必须输入', 'info', function () {
                account.focus();
            });
            return;
        }
        //else {
        //    var storeManage_CheckAccountCode = $('#storeManage_TextStoreAccountExist').val();
        //    if (storeManage_CheckAccountCode == '-1') {
        //        $.messager.show(null, 600, 250, 100, '后台正在检查账号', '后台还在检查账号是否存在，请稍候...', 600);
        //        return;
        //    }
        //    else if (storeManage_CheckAccountCode == '3') {
        //        $.messager.alert('提示', '该账号已经存在，请重新输入', 'info', function () {
        //            $('#storeManage_TextStoreAccount').focus();
        //        });
        //        return;
        //    }
        //    else if (storeManage_CheckAccountCode != '2') {
        //        $.messager.alert('错误', '后台检测账号信息失败，请联系管理员修正', 'info', function () {
        //        });
        //        return;
        //    }
        //}
        if (name.val() == '') {
            $.messager.alert('提示', '店长姓名必须输入', 'info', function () {
                name.focus();
            });
            return;
        }

        $.post("/User/AddStore?random=" + Math.random(),
            {
                account: account.val(),
                name: name.val(),
                sex: sex.val(),
                telephone: telephone.val(),
                mobile: mobile.val(),
                fax: fax.val(),
                address: address.val()
            },
            function (data) {
                if (data == XDropsWaterSystem.executeResult.Success) {
                    $.messager.alert('保存成功', '保存成功', 'info', function () {
                        $('#storeManage_AddStoreDialog').dialog('close');
                        storeManage_Find();
                    });
                }
                else if (data == XDropsWaterSystem.executeResult.Exception) {
                    $.messager.alert('保存失败', '系统出现异常，请联系管理员', 'error');
                }
                else if (data == XDropsWaterSystem.executeResult.Login) {
                    $.messager.alert('重新登录', '由于您长时间未操作，系统需要重新登录', 'info', function () {
                        window.location.href = "../Login/Logout";
                    });
                }
                else {
                    $.messager.alert('保存失败', data, 'error');
                }
            });
    }

    function storeManage_CheckAccount() {
        var account = $('#storeManage_TextStoreAccount');
        if (account.val().trim() != '') {
            //判断账号是否已经存在
            $.post("/User/AccountExists?random=" + Math.random(), { account: account.val() }, function (data) {
                $.messager.progress('close');
                if (data == XDropsWaterSystem.executeResult.Success) {
                    $.messager.alert('账号已经存在', '账号已经存在', 'error', function () {
                        $('#storeManage_TextStoreAccount').focus();
                    });
                }
                else if (data == XDropsWaterSystem.executeResult.Login) {
                    $.messager.alert('重新登录', '由于您长时间未操作，系统需要重新登录', 'info', function () {
                        window.location.href = "../Login/Logout";
                    });
                }
                else if (data == XDropsWaterSystem.executeResult.Exception) {
                    $.messager.alert('检测账号失败', '系统出现异常，请联系管理员', 'error');
                }
            });
        }

    }

    //保存专卖店信息
    function storeManage_SaveStore()
    {
        //如果有专卖店id,修改，否则，新增
        if ($('#storeManage_TextUserId').val() != '-1') {
            storeManage_ModifyStore();
        }
        else {
            storeManage_AddStore();
        }
    }

    function storeManage_ResetPassword()
    {
        var row = $('#storeManage_StoreGrid').datagrid('getSelected');
        if (row)
        {
            $.messager.confirm('确认', '您确定要重置密码吗?', function (data) {
                if (data)
                {
                    $.post("/User/ResetPassword?random=" + Math.random(), { id: row.ID }, function (data) {
                        if (data == XDropsWaterSystem.executeResult.Success) {
                            $.messager.alert('提示', '密码重置成功，新密码为6个1', 'info');
                        }
                        else if (data == XDropsWaterSystem.executeResult.Login) {
                            $.messager.alert('重新登录', '由于您长时间未操作，系统需要重新登录', 'info', function () {
                                window.location.href = "../Login/Logout";
                            });
                        }
                        else if (data != XDropsWaterSystem.executeResult.Exception) {
                            $.messager.alert('重置密码失败', '系统出现异常，请联系管理员', 'error');
                        }
                        else {
                            $.messager.alert('重置密码失败', data, 'error');
                        }
                    });
                }
            });
            
        }
        else
        {
            $.messager.alert('提示', '请选择您要修改密码的记录', 'info');
            return;
        }
    }
</script>

<table id="storeManage_StoreGrid" title="专卖店管理" toolbar="#storeManage_StoreGridTool"
    data-options="rownumbers:true,singleSelect:true,method:'get',
        loadMsg:'正在查询，请稍候……'">
</table>

<div id="storeManage_StoreGridTool">
    &nbsp;&nbsp;&nbsp;&nbsp;
    专卖店账号：<input type="text" id="storeManage_TextAccount" style="width: 200px" onkeydown="if (event.keyCode == 13) { storeManage_Find(); }" />

    <a href="javascript:void(0)" onclick="storeManage_Find()" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="javascript:void(0)" onclick="storeManage_AddStoreDialog()" class="easyui-linkbutton" data-options="iconCls:'icon-add'">添加</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="javascript:void(0)" onclick="storeManage_ResetPassword()" class="easyui-linkbutton" data-options="iconCls:'icon-edit'">重置密码</a>
</div>

<div id="storeManage_AddStoreDialog" class="easyui-dialog" style="width: 500px; height: 500px" closed="true">
    <form id="frmstoreManage_AddStoreDialog">
        <table>
            <tr>
                <td style="text-align: right"><span style="font-size: large">账号：</span></td>
                <td>
                    <input id="storeManage_TextStoreAccount"
                        onblur="storeManage_CheckAccount()" class="easyui-validatebox" data-options="required:true"
                        type="text" style="width: 250px; height: 30px; font-size: large" />
                    <input id="storeManage_TextUserId" type="text" value="-1" style="display: none" />
                    <input id="storeManage_TextRowIndex" type="text" value="-1" style="display: none" />
                    
                </td>
            </tr>
            <tr>
                <td style="text-align: right"><span style="font-size: large">店长姓名：</span></td>
                <td>
                    <input type="text" class="easyui-validatebox"
                        data-options="required:true" style="height: 30px; font-size: large" id="storeManage_TextStoreManagerName" />
                </td>
            </tr>
            <tr>
                <td style="text-align: right"><span style="font-size: large">性别：</span></td>
                <td>
                    <select id="storeManage_SelectSex" style="font-size: large">

                        <option value="0" selected="selected">女</option>
                        <option value="1">男</option>
                    </select>

                </td>
            </tr>
            <tr>
                <td style="text-align: right"><span style="font-size: large">固定电话：</span></td>
                <td>
                    <input type="text"
                        style="width: 250px; height: 30px; font-size: large"
                        id="storeManage_TextTelephone" />
                </td>
            </tr>
            <tr>
                <td style="text-align: right"><span style="font-size: large">手机：</span></td>
                <td>
                    <input type="text" style="height: 30px; font-size: large" 
                        id="storeManage_TextMobile" />
                </td>
            </tr>
            <tr>
                <td style="text-align: right"><span style="font-size: large">传真：</span></td>
                <td>
                    <input type="text" style="height: 30px; font-size: large" 
                        id="storeManage_TextFax" />
                </td>
            </tr>
            <tr>
                <td style="text-align: right"><span style="font-size: large">地址：</span></td>
                <td>
                    <input type="text" style="height: 30px; width: 300px; font-size: large" 
                        id="storeManage_TextAddress" />
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right; padding-top: 10px">
                    <a href="javascript:void(0)" class="easyui-linkbutton" id="storeManage_ButtonMemberSave" iconcls="icon-ok" onclick="storeManage_SaveStore()">确定</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#storeManage_AddStoreDialog').dialog('close')">关闭</a>
                </td>
            </tr>
        </table>

    </form>
</div>

