.loginField
{
    margin: 10px;
}

.labelAndTextboxSeparation
{
    float: left;
    width: 80px;
}
.loginTable
{
    margin: 0 auto;
    background-image:url(/Images/Login_Table.bmp);
    position: relative;
    left: 0;
    top: 0;
}
.login-info
{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 720px;
    height: 400px;
    margin: -100px 0 0 -270px;
    overflow: hidden;
}
.login-input
{
    float: right;
    width: 480px;
}
