@*@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}*@

<script type="text/javascript">

    var depOpMode = 0; //0:None, 1:Add, 2:Edit

    $(function () {
        $('#depGrid').datagrid(
            {
                url: '/DataMan/List?ser=dep&random=' + Math.random(),
                onDblClickRow: function (index, data) {
                    editDepartment();
                }
            });
    });

    function reloadDepartments() {
        $('#depGrid').datagrid('reload', { url: '/DataMan/List?ser=dep&random=' + Math.random() });
    }

    function addDepartment() {
        depOpMode = 1;
        var dlg = $('#manDepDlg');
        dlg.dialog('setTitle', '添加部门');
        $('#manDepForm').form('clear');
        $("#depId").val('00000000-0000-0000-0000-000000000000');
        dlg.dialog('open');
    }

    function editDepartment() {
        depOpMode = 2;
        var dlg = $('#manDepDlg');
        dlg.dialog('setTitle', '修改部门');
        if ($("#depGrid").datagrid("getSelections").length > 0) {
            var obj = $("#depGrid").datagrid("getSelections")[0];
            var selectId = $("#depGrid").datagrid("getSelections")[0].ID;
            $('#manDepForm').form('clear');
            $.getJSON("/DataMan/Get?random=" + Math.random(), { ser: "dep", id: selectId }, function (data) {
                //绑定数据显示到用户控件上面,RoleName1，RoleType1
                $("#depId").val(data.ID);
                $("#depName").val(data.Name);
                //绑定数据显示在前台的easyUI下拉框中
                $("#depDes").val(data.Description);
                $("#manDepForm").form("validate");
            })
            dlg.dialog('open');
        }
        else {
            $.messager.alert('提示', '请先选择要修改的部门！', 'info');
        }
    }

    function removeDepartment() {
        if ($("#depGrid").datagrid("getSelections").length > 0) {
            var selectName = $("#depGrid").datagrid("getSelections")[0].Name;
            $.messager.confirm('删除部门', '删除后数据不能恢复，你真的要删除部门[' + selectName + ']吗？', function (res) {
                if (res) {
                    var postData = {
                        ser: 'dep',
                        id: $("#depGrid").datagrid("getSelections")[0].ID
                    };
                    $.post("/DataMan/Remove", postData, function (data) {
                        if (data.ErrCode == 0) {
                            reloadDepartments();

                            $.messager.alert('提示', '删除成功！', 'info');
                        }
                        else {
                            $.messager.alert('提示', '删除失败：' + data.ErrMsg, 'info');
                        }
                    });
                }
            });
        }
        else {
            $.messager.alert('提示', '请先选择要删除的部门！', 'info');
        }
    }

    function saveDepartment() {
        //验证用户必须输入必填项
        var validate = $("#manDepForm").form("validate");
        if (validate == false) {
            return false;
        }
        //获取传递前台的参数，UName，Pwd，Code
        var department = {
            Id: $("#depId").val(),
            Name: $("#depName").val(),
            Description: $("#depDes").val()
        };
        var postData = {
            ser: 'dep',
            jsonStr: JSON.stringify(department),
        };
        $.messager.progress({
            title: '保存中',
            msg: '正在保存，请稍候...'
        });
        //异步实现登录功能
        $.post("/DataMan/Save", postData, function (data) {
            $.messager.progress('close');
            if (data.ErrCode == 0) {
                reloadDepartments();
                $('#manDepDlg').dialog('close');
            }
            else {
                $.messager.alert('保存失败', data.ErrMsg, 'error');
            }
        });
    }

</script>

<table id="depGrid" class="easyui-datagrid" title="部门列表" 
    data-options="rownumbers:true,singleSelect:true,method:'get',
        loadMsg:'正在加载部门列表，请稍候……',
        toolbar: [{
                    text:'刷新',
                    iconCls:'icon-reload',
                    handler:function(){
                        reloadDepartments()
                    }
                },'-',{
                    text:'添加',
                    iconCls:'icon-add',
                    handler:function(){
                        addDepartment()
                    }
                },'-',{
                    text:'修改',
                    iconCls:'icon-edit',
                    handler:function(){
                        editDepartment()
                    }
                },'-',{
                    text:'删除',
                    iconCls:'icon-remove',
                    handler:function(){
                        removeDepartment()
                    }
                }]">
    <thead>
        <tr>
            <th data-options="field:'ID',hidden:true">编号</th>
            <th data-options="field:'Name',width:100">部门名称</th>
            <th data-options="field:'Description',width:300">部门描述</th>
        </tr>
    </thead>
</table>

<div id="manDepDlg" class="easyui-dialog" style="width: 360px; height: 240px; padding: 10px 20px; "
    closed="true" resizable="true" modal="true" align="center">
    <form id="manDepForm" method="post">
        <table id="tblAdd">
            <tr>
                <td>
                    <input type="text" id="depId" name="id" style="display: none" /></td>
            </tr>
            <tr>
                <td>
                    <label>部门名称：</label></td>
                <td>
                    <input class="easyui-validatebox" type="text" id="depName" name="name" data-options="required:true,validType:'length[1,32]'" /></td>
                <td>
            </tr>
            <tr>
                <td>
                    <label>部门描述：</label></td>
                <td>
                    <textarea id="depDes" name="description" /></td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center; padding-top: 10px">
                    <a href="javascript:void(0)" class="easyui-linkbutton" id="btnSaveDep" iconcls="icon-ok" onclick="saveDepartment()">确定</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#manDepDlg').dialog('close')">关闭</a>
                </td>
            </tr>
        </table>
    </form>
</div>
