<script>
    //时间格式化
    Date.prototype.format = function (format) {
        if (!format) {
            format = "yyyy-MM-dd hh:mm:ss";
        }
        var o = {
            "M+": this.getMonth() + 1, // month
            "d+": this.getDate(), // day
            "h+": this.getHours(), // hour
            "m+": this.getMinutes(), // minute
            "s+": this.getSeconds(), // second
            "q+": Math.floor((this.getMonth() + 3) / 3), // quarter
            "S": this.getMilliseconds()
            // millisecond
        };
        if (/(y+)/.test(format)) {
            format = format.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        }
        for (var k in o) {
            if (new RegExp("(" + k + ")").test(format)) {
                format = format.replace(RegExp.$1, RegExp.$1.length == 1 ? o[k] : ("00" + o[k]).substr(("" + o[k]).length));
            }
        }
        return format;
    };
    function formatDateTime(str) {
        return (new Date(parseInt(str.substring(str.indexOf('(') + 1, str.indexOf(')'))))).format("yyyy-MM-dd hh:mm:ss");
    }

    function formatDate(str) {
        return (new Date(parseInt(str.substring(str.indexOf('(') + 1, str.indexOf(')'))))).format("yyyy-MM-dd");
    }

    $(function () {
        $('#memberManage_MemberManageGrid').datagrid({
            url: '/Member/GetMember?random=' +
            Math.random(),
            queryParams: { memberName: $('#memberManageSearch_TextMemberName').val(), mobile: $('#memberManage_TextMobile').val() },
            pagination: true,
            pageSize: 10,
            pageList: [10, 20, 30, 40],
            columns: [[
                { field: 'ID', title: 'ID', hidden: true, width: 80 },
        { field: 'Mobile', title: '手机号码', width: 150 },
        { field: 'MemberName', title: '姓名', width: 80 },
        {
            field: 'MemberRoleID', title: '级别', width: 80,
            formatter: function (value) {
                if (value == 1) return "顾客";
                else if (value == 2) return "特约顾客";
                else if (value == 3) return "区代";
                else if (value == 4) return "市代";
                else if (value == 5) return "省代";
                else if (value == 6) return "总代";
                else if (value == 7) return "董事";
            }
        },
         
        
        { field: 'ParentMemberMobile', title: '上级手机号码', width: 150 },
        { field: 'ParentName', title: '上级姓名', width: 80 },
         {
             field: 'CreateOn', title: '注册时间', width: 150
                       ,
             formatter: function (value) { return formatDateTime(value); }
         },
        { field: 'Address', title: '住址', width: 200 }
        
            ]],

            onDblClickRow: function (rowIndex, rowData) {
                memberManage_ShowEditDialog(rowData.ID, rowData.Mobile, rowData.MemberName, rowData.MemberRoleID, rowData.ParentMemberMobile, rowData.ParentName,rowData.Address, rowIndex);
            }
        });


    });

    //显示编辑对话框
    function memberManage_ShowEditDialog(memberId, mobile, memberName, memberRoleID, parentMemberMobile, parentName,address, rowIndex) {
        $('#memberManage_TextMemberID').val(memberId);
        $('#memberManage_TextMobile').val(mobile);
        $('#memberManage_TextMemberName').val(memberName);
        $('#memberManage_TextParentMobile').val(parentMemberMobile);
        $('#memberManage_TextParentMemberName').val(parentName);
        
        $('#memberManage_SelectRoleID').val(memberRoleID);
        $('#memberManage_TextAddress').val(address);
        
        $('#memberManage_TextRowNo').val(rowIndex);
        var dlg = $('#memberManage_MemberManageDialog');
        dlg.dialog({ title: '修改代理资料', modal: true, cache: false });
        dlg.dialog('open');
    }
    //保存高号代理信息
    function memberManage_SaveMember() {
        var mobile = $('#memberManage_TextMobile').val();
        var memberName = $('#memberManage_TextMemberName').val();
        var parentMobile = $('#memberManage_TextParentMobile').val();
        var roleID = $('#memberManage_SelectRoleID').val();
        var address = $('#memberManage_TextAddress').val();
        
        if (mobile == null || mobile.trim() == '') {
            $.messager.alert('提示', '手机号码必须输入', 'info', function () {
                $('#memberManage_TextMobile').focus();
            });
            return;
        }
        if (memberName == null || memberName.trim() == '') {
            $.messager.alert('提示', '姓名必须输入', 'info', function () {
                $('#memberManage_TextMemberName').focus();
            });
            return;
        }
        if (roleID == null || roleID.trim() == '') {
            $.messager.alert('提示', '请选择代理级别', 'info', function () {
                $('#memberManage_SelectRoleID').focus();
            });
            return;
        }
       
        var memberId = $('#memberManage_TextMemberID').val();
        //新增
        if (memberId == '') {
            
            $.post('/Member/AddMember?random=' + Math.random(),
                {
                    mobile: mobile.trim(),
                    memberName: memberName.trim(),
                    parentMobile: $('#memberManage_TextParentMobile').val(),
                    roleID: roleID.trim(),
                    address: $('#memberManage_TextAddress').val()
                    
                }, function (data) {
                    if (data == XDropsWaterSystem.executeResult.Success) {
                        $.messager.alert('保存成功', '保存成功', 'info', function () {
                            memberManage_FindMemberRecords();
                            $('#memberManage_MemberManageDialog').dialog('close');
                        });
                    }
                    else if (data == XDropsWaterSystem.executeResult.Exception) {
                        $.messager.alert('保存失败', '操作异常，请联系管理员', 'error');
                        return;
                    }
                    else if (data == XDropsWaterSystem.executeResult.Login) {
                        $.messager.alert('重新登录', '由于您长时间未操作，系统需要重新登录', 'info', function () {
                            window.location.href = "../Login/Logout";
                        });
                    }
                    else {
                        $.messager.alert('保存失败', data, 'error');
                        return;
                    }
                });
        }
            //修改
        else {
            var parentName = $('#memberManage_TextParentName').val();
            if (parentName == '') {
                $.messager.alert('提示', '获取上级姓名失败,请联系系统管理员', 'info');
                return;
            }

            $.post('/Member/UpdateMember?random=' + Math.random(),
                {
                    memberId: memberId,
                    mobile: mobile.trim(),
                    memberName: memberName.trim(),
                    parentMobile: $('#memberManage_TextParentMobile').val(),
                    roleID: roleID.trim(),
                    address: $('#memberManage_TextAddress').val()
                }, function (data) {
                    if (data == XDropsWaterSystem.executeResult.Success) {
                        $.messager.alert('保存成功', '保存成功', 'info', function () {
                            $('#memberManage_MemberManageGrid').datagrid('updateRow', {
                                index: parseInt($('#memberManage_TextRowNo').val()),
                                row: {
                                    Mobile: $('#memberManage_TextMobile').val(),
                                    MemberName: $('#memberManage_TextMemberName').val(),
                                    ParentMemberMobile: $('#memberManage_TextParentMobile').val(),
                                    ParentName: $('#memberManage_TextParentMemberName').val(),
                                    MemberRoleID: $('#memberManage_SelectRoleID').val(),
                                    Address: $('#memberManage_TextAddress').val()
                                   
                                }
                            });
                            $('#memberManage_MemberManageDialog').dialog('close');
                        });
                    }
                    else if (data == XDropsWaterSystem.executeResult.Exception) {
                        $.messager.alert('保存失败', '操作异常，请联系管理员', 'error');
                        return;
                    }
                    else if (data == XDropsWaterSystem.executeResult.Login) {
                        $.messager.alert('重新登录', '由于您长时间未操作，系统需要重新登录', 'info', function () {
                            window.location.href = "../Login/Logout";
                        });
                    }
                    else {
                        $.messager.alert('保存失败', data, 'error');
                        return;
                    }
                });
        }
    }

    //获取上级姓名
    function memberManage_GetParentName() {
        var cardNo = $('#memberManage_TextParentMemberMobile').val().trim();
        if (cardNo == '') return;

        var parentName = $('#memberManage_TextParentName').val();
        if (parentName == '' || parentName.trim() == '') {
            $.messager.progress({
                title: '正在获取上级姓名',
                msg: '正在获取上级姓名，请稍候...'
            });
            //return;
        }
        $.post("/Achieve/CheckIDCard?random=" + Math.random(), { cardNo: cardNo }, function (data) {
            $.messager.progress('close');
            if (data == XDropsWaterSystem.executeResult.Exception) {
                $.messager.alert('获取代理姓名失败', '系统出现异常，请联系管理员', 'error');
            }
            else if (data == XDropsWaterSystem.executeResult.Login) {
                $.messager.alert('重新登录', '由于您长时间未操作，系统需要重新登录', 'info', function () {
                    window.location.href = "../Login/Logout";
                });
            }
            else if (data != '') {
                $('#memberManage_TextParentName').val(data);
            }
        });

    }

    //获取推荐人姓名
    function memberManage_GetParentMemberName() {
        var mobile = $('#memberManage_TextParentMobile').val().trim();
        if (mobile == '') return;

        var parentName = $('#memberManage_TextParentMemberName').val();
        if (parentName == '' || parentName.trim() == '') {
            $.messager.progress({
                title: '正在上级姓名',
                msg: '正在上级姓名，请稍候...'
            });
            //return;
        }

        $.post("/Member/GetMemberName?random=" + Math.random(), { mobile: mobile }, function (data) {
            $.messager.progress('close');
            if (data == XDropsWaterSystem.executeResult.Exception) {
                $.messager.alert('获取上级姓名失败', '系统出现异常，请联系管理员', 'error');
            }
            else if (data == XDropsWaterSystem.executeResult.Login) {
                $.messager.alert('重新登录', '由于您长时间未操作，系统需要重新登录', 'info', function () {
                    window.location.href = "../Login/Logout";
                });
            }
            else if (data != '') {
                $('#memberManage_TextParentMemberName').val(data);
            }
        });
    }

    //显示添加框
    function memberManage_ShowAddDialog() {
        $('#memberManage_TextMemberID').val('');
        $('#memberManage_MemberManageDialogForm').form('clear');
        var dlg = $('#memberManage_MemberManageDialog');
        dlg.dialog({ title: '添加高号代理', modal: true, cache: false });
        dlg.dialog('open');
    }
    //查询高号记录
    function memberManage_FindMemberRecords() {
        $('#memberManage_MemberManageGrid').datagrid({
            url: '/Member/GetMember?random=' +
                Math.random(),
            queryParams: { memberName: $('#memberManageSearch_TextMemberName').val(), mobile: $('#memberManageSearch_TextMobile').val() }
        });
    }

    //Description:  银行卡号Luhn校验算法

    //luhn校验规则：16位银行卡号（19位通用）:

    // 1.将未带校验位的 15（或18）位卡号从右依次编号 1 到 15（18），位于奇数位号上的数字乘以 2。
    // 2.将奇位乘积的个十位全部相加，再加上所有偶数位上的数字。
    // 3.将加法和加上校验位能被 10 整除。

    //bankno位银行卡号
    function memberManage_LuhnCheck(bankno) {
        var lastNum = bankno.substr(bankno.length - 1, 1);//取出最后一位（与luhn进行比较）

        var first15Num = bankno.substr(0, bankno.length - 1);//前15或18位
        var newArr = new Array();
        for (var i = first15Num.length - 1; i > -1; i--) {    //前15或18位倒序存进数组
            newArr.push(first15Num.substr(i, 1));
        }
        var arrJiShu = new Array();  //奇数位*2的积 <9
        var arrJiShu2 = new Array(); //奇数位*2的积 >9

        var arrOuShu = new Array();  //偶数位数组
        for (var j = 0; j < newArr.length; j++) {
            if ((j + 1) % 2 == 1) {//奇数位
                if (parseInt(newArr[j]) * 2 < 9)
                    arrJiShu.push(parseInt(newArr[j]) * 2);
                else
                    arrJiShu2.push(parseInt(newArr[j]) * 2);
            }
            else //偶数位
                arrOuShu.push(newArr[j]);
        }

        var jishu_child1 = new Array();//奇数位*2 >9 的分割之后的数组个位数
        var jishu_child2 = new Array();//奇数位*2 >9 的分割之后的数组十位数
        for (var h = 0; h < arrJiShu2.length; h++) {
            jishu_child1.push(parseInt(arrJiShu2[h]) % 10);
            jishu_child2.push(parseInt(arrJiShu2[h]) / 10);
        }

        var sumJiShu = 0; //奇数位*2 < 9 的数组之和
        var sumOuShu = 0; //偶数位数组之和
        var sumJiShuChild1 = 0; //奇数位*2 >9 的分割之后的数组个位数之和
        var sumJiShuChild2 = 0; //奇数位*2 >9 的分割之后的数组十位数之和
        var sumTotal = 0;
        for (var m = 0; m < arrJiShu.length; m++) {
            sumJiShu = sumJiShu + parseInt(arrJiShu[m]);
        }

        for (var n = 0; n < arrOuShu.length; n++) {
            sumOuShu = sumOuShu + parseInt(arrOuShu[n]);
        }

        for (var p = 0; p < jishu_child1.length; p++) {
            sumJiShuChild1 = sumJiShuChild1 + parseInt(jishu_child1[p]);
            sumJiShuChild2 = sumJiShuChild2 + parseInt(jishu_child2[p]);
        }
        //计算总和
        sumTotal = parseInt(sumJiShu) + parseInt(sumOuShu) + parseInt(sumJiShuChild1) + parseInt(sumJiShuChild2);

        //计算luhn值
        var k = parseInt(sumTotal) % 10 == 0 ? 10 : parseInt(sumTotal) % 10;
        var luhn = 10 - k;

        if (lastNum == luhn) {
            return true;
        }
        else {

            return false;
        }
    }

    function memberManage_MobileDetails(id, title) {
        var cardNo = $('#' + id).val();
        $.messager.alert(title, '<span style="font-size:large">' + cardNo.substr(0, 6) + '&nbsp;&nbsp;'
            + cardNo.substr(6, 4) + '&nbsp;&nbsp;' + cardNo.substr(10, 4) + '&nbsp;&nbsp;' + cardNo.substr(14, 10) + '</span>');
    }

    function memberManage_RemoveMember()
    {
        if ($("#memberManage_MemberManageGrid").datagrid("getSelections").length > 0) {
            var selectedMemberName = $("#memberManage_MemberManageGrid").datagrid("getSelections")[0].MemberName;
            var selectedMobile = $("#memberManage_MemberManageGrid").datagrid("getSelections")[0].Mobile;
            $.messager.confirm('删除代理', '删除后数据不能恢复，你真的要删除代理[' + selectedMemberName + ']吗？', function (res) {
                if (res) {
                    var selectMemberId = $("#memberManage_MemberManageGrid").datagrid("getSelections")[0].ID;

                    $.post('/Member/RemoveMember?random=' + Math.random(),
                    {
                        memberId: selectMemberId
                    }, function (data) {
                        if (data == XDropsWaterSystem.executeResult.Success) {
                            $.messager.alert('删除成功', '删除成功', 'info', function () {

                                var selectedRow = $('#memberManage_MemberManageGrid').datagrid('getSelected');
                                var removedRow = $('#memberManage_MemberManageGrid').datagrid('getRowIndex', selectedRow);
                                $('#memberManage_MemberManageGrid').datagrid('deleteRow', removedRow);
                            });
                        }
                        else if (data == XDropsWaterSystem.executeResult.Exception) {
                            $.messager.alert('删除失败', '操作异常，请联系管理员', 'error');
                            return;
                        }
                        else if (data == XDropsWaterSystem.executeResult.Login) {
                            $.messager.alert('重新登录', '由于您长时间未操作，系统需要重新登录', 'info', function () {
                                window.location.href = "../Login/Logout";
                            });
                        }
                        else {
                            $.messager.alert('删除失败', data, 'error');
                            return;
                        }
                    });
                }
            });
        }
        else {
            $.messager.alert('提示', '请选择您要删除的代理！', 'info');
        }
    }

    function memberManage_ResetPassword() {
        if ($("#memberManage_MemberManageGrid").datagrid("getSelections").length > 0) {
            var selectedMemberName = $("#memberManage_MemberManageGrid").datagrid("getSelections")[0].MemberName;
            var selectedMobile = $("#memberManage_MemberManageGrid").datagrid("getSelections")[0].Mobile;
            $.messager.confirm('重置密码', '重置密码后只能用新密码登陆，你真的要为代理[' + selectedMemberName + ']重置密码吗？', function (res) {
                if (res) {
                    var selectMemberId = $("#memberManage_MemberManageGrid").datagrid("getSelections")[0].ID;

                    $.post('/Member/ResetPassword?random=' + Math.random(),
                    {
                        memberId: selectMemberId
                    }, function (data) {
                        if (data == XDropsWaterSystem.executeResult.Success) {
                            $.messager.alert('重置密码成功', '重置密码成功', 'info');
                        }
                        else if (data == XDropsWaterSystem.executeResult.Exception) {
                            $.messager.alert('重置密码失败', '操作异常，请联系管理员', 'error');
                            return;
                        }
                        else if (data == XDropsWaterSystem.executeResult.Login) {
                            $.messager.alert('重新登录', '由于您长时间未操作，系统需要重新登录', 'info', function () {
                                window.location.href = "../Login/Logout";
                            });
                        }
                        else {
                            $.messager.alert('重置密码失败', data, 'error');
                            return;
                        }
                    });
                }
            });
        }
        else {
            $.messager.alert('提示', '请选择您要重置密码的代理！', 'info');
        }
    }
</script>


<div id="memberManage_MemberManageGridTool">
    手机号码：<input type="text" id="memberManageSearch_TextMobile" style="width: 250px" onkeydown="if (event.keyCode == 13) { memberManage_FindMemberRecords(); }" />
    &nbsp;&nbsp;&nbsp;&nbsp;
    姓名：<input type="text" id="memberManageSearch_TextMemberName" style="width: 250px" onkeydown="if (event.keyCode == 13) { memberManage_FindMemberRecords(); }" />
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="javascript:void(0)" onclick="memberManage_FindMemberRecords()" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="javascript:void(0)" onclick="memberManage_ShowAddDialog()" class="easyui-linkbutton" data-options="iconCls:'icon-add'">添加</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="javascript:void(0)" onclick="memberManage_RemoveMember()" class="easyui-linkbutton" data-options="iconCls:'icon-remove'">删除</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="javascript:void(0)" onclick="memberManage_ResetPassword()" class="easyui-linkbutton" data-options="iconCls:'icon-edit'">重置密码</a>

</div>

<table id="memberManage_MemberManageGrid" title="" toolbar="#memberManage_MemberManageGridTool"
       data-options="rownumbers:true,singleSelect:true,method:'get',
        loadMsg:'正在查询，请稍候……'"></table>

<div id="memberManage_MemberManageDialog" class="easyui-dialog" style="width: 600px; height: 500px" closed="true">
    <form id="memberManage_MemberManageDialogForm">
        <table>
            <tr>
                <td style="text-align: right"><span style="font-size: large">手机号码：</span></td>
                <td>
                    <input id="memberManage_TextMobile" class="easyui-validatebox" data-options="required:true" type="text" style="width: 250px; height: 30px; font-size: large" />
                    <input type="button" value="放大" onclick="memberManage_MobileDetails('memberManage_TextCardNo', '新代理手机号码')" />
                    <!--memberId不存在是新增，否则是修改-->
                    <input id="memberManage_TextMemberID" type="text" style="display: none" />
                    <input id="memberManage_TextRowNo" type="text" style="display: none" />
                    <input id="memberManage_TextUserName" type="text" style="display: none" />

                </td>
            </tr>
            <tr>
                <td style="text-align: right"><span style="font-size: large">姓名：</span></td>
                <td>
                    <input type="text" class="easyui-validatebox"
                           data-options="required:true" style="height: 30px; font-size: large" id="memberManage_TextMemberName" />
                </td>
            </tr>
            <tr>
                <td style="text-align: right"><span style="font-size: large">级别：</span></td>
                <td>
                    <select id="memberManage_SelectRoleID" style="height: 30px; font-size: large">
                        <option value="1" selected="selected">顾客</option>
                        <option value="2">特约顾客</option>
                        <option value="3">区代</option>
                        <option value="4">市代</option>
                        <option value="5">省代</option>
                        <option value="6">总代</option>
                        <option value="7">高总</option>
                        <option value="8">董事</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td style="text-align: right"><span style="font-size: large">上级手机号码：</span></td>
                <td>
                    <input type="text" class="easyui-validatebox"
                           style="width: 250px; height: 30px; font-size: large"
                           id="memberManage_TextParentMobile" onblur="memberManage_GetParentMemberName()" />
                    <input type="button" value="放大" onclick="memberManage_MobileDetails('memberManage_TextParentMobile', '上级代理手机号码')"
                           onkeydown="if(event.keyCode==13){$('#memberManage_ButtonMemberSave').focus()}" />
                </td>
            </tr>
            
            <tr>
                <td style="text-align: right"><span style="font-size: large">上级姓名：</span></td>
                <td>
                    <input type="text" class="easyui-validatebox" style="height: 30px; font-size: large"
                           id="memberManage_TextParentMemberName" disabled="disabled" />
                </td>
            </tr>
            <tr>
                <td style="text-align: right"><span style="font-size: large">住址：</span></td>
                <td>
         
                    <textarea class="easyui-validatebox" style="height: 30px; font-size: large"
                              id="memberManage_TextAddress" />
                    
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right; padding-top: 10px">
                    <a href="javascript:void(0)" class="easyui-linkbutton" id="memberManage_ButtonMemberSave" iconcls="icon-ok" onclick="memberManage_SaveMember()">确定</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#memberManage_MemberManageDialog').dialog('close')">关闭</a>
                </td>
            </tr>
        </table>

    </form>
</div>
