@{
    ViewBag.Title = "小水滴视频和H5";
}

&nbsp;&nbsp;&nbsp;&nbsp;<h2>视频</h2>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://mp.weixin.qq.com/s?__biz=MzUxMzI0OTk3MQ==&mid=2247483862&idx=1&sn=314d2c89ab516e1687993e4477b242cd&chksm=f959460ace2ecf1c8437ab7a2e8fd0ab2c1630a113afea33554f228790e258bdd14af7e9abef&mpshare=1&scene=1&srcid=1002mJnsGEBSFtu5ZP8ORQ60#rd">小水滴油净宝</a><br />
&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://mp.weixin.qq.com/mp/video?t=pages/video_detail_new&scene=1&vid=d133769qi6e&__biz=MzUxMzI0OTk3MQ==&mid=100000159&idx=1&sn=55d5a68ab15bb04e9d1f720fc12448e2&vidsn=a01dba0e403ebd348bf21274a2c3187b#wechat_redirect">小水滴能量杯</a><br />
&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://mp.weixin.qq.com/s?__biz=MzUxMzI0OTk3MQ==&mid=2247483849&idx=1&sn=da2f0c60800b65ef1ec00aed69038086&chksm=f9594615ce2ecf03291dbfb5fa6d8c9b0f4763bebb98c9ed83c1177b3af573caa98c510a5ac9&scene=0#rd">小水滴环保洗衣球</a><br />
&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://mp.weixin.qq.com/mp/video?t=pages/video_detail_new&scene=1&vid=e13397c0ycd&__biz=MzUxMzI0OTk3MQ==&mid=100000191&idx=1&sn=c61732950c34c696a23d911a430ddd5b&vidsn=529c7880796c96472850b9361a736abd#wechat_redirect">小水滴视频</a><br />




&nbsp;&nbsp;&nbsp;&nbsp;<h2>H5</h2>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://u7522268.viewer.maka.im/pcviewer/S09S2E6Z">小水滴五级直饮机</a><br />
&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://u3895042.viewer.maka.im/pcviewer/K7FK215X">小水滴水调式空气净化器</a><br />
&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://u3895042.viewer.maka.im/pcviewer/E3XPQ6I6">小水滴多功能智能茶吧机</a><br />
&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://u3895042.viewer.maka.im/pcviewer/R9AOPDZM">小水滴兄弟能量杯</a><br />
&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://u3895042.viewer.maka.im/pcviewer/83D84FCG">小水滴兄弟无油无氯油净宝</a><br />
&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://u3895042.viewer.maka.im/k/9KMK86N8">小水滴环保洗衣球</a><br />


