
<script>
    $(function () {
        //$('#userDetailsIndex_UserDetailsDialog').dialog('open');
        userDetailsIndex_GetStoreInfo();
    });

    function userDetailsIndex_GetStoreInfo()
    {
        $.post("/UserDetails/Get?random="+Math.random(), {}, function (data) {
            $('#userDetailsIndex_TextUserName').val(data.Name);
            $('#userDetailsIndex_TextTelephone').val(data.Telphone);
            $('#userDetailsIndex_TextMobile').val(data.MobTel);
            $('#userDetailsIndex_TextFax').val(data.Fax);
            $('#userDetailsIndex_TextAddress').val(data.Address);
        });
    }
    function userDetailsIndex_SaveStoreInfo()
    {
        var userName = $('#userDetailsIndex_TextUserName').val();
        var telPhone = $('#userDetailsIndex_TextTelephone').val();
        var mobi = $('#userDetailsIndex_TextMobile').val();
        var fax = $('#userDetailsIndex_TextFax').val();
        var addr = $('#userDetailsIndex_TextAddress').val();
        
        if (userName == '')
        {
            $.messager.alert('提示', '请输入店长姓名', 'info', function () {
                $('#userDetailsIndex_TextUserName').focus();
               
            });
            return;
        }
        if (telPhone == '') {
            $.messager.alert('提示', '请输入固定电话', 'info', function () {
                $('#userDetailsIndex_TextTelephone').focus();
                
            });
            return;
        }
        if (mobi == '') {
            $.messager.alert('提示', '请输入手机号码', 'info', function () {
                $('#userDetailsIndex_TextMobile').focus();
                
            });
            return;
        }
        if (addr == '') {
            $.messager.alert('提示', '请输入专卖店地址', 'info', function () {
                $('#userDetailsIndex_TextAddress').focus();
                
            });
            return;
            
        }
        $.post("/UserDetails/Save?random=" + Math.random(), {
            userName: userName,
            telPhone: telPhone,
            mobi: mobi,
            fax: fax,
            addr: addr
        },
            function (data) {
                if (data == XDropsWaterSystem.executeResult.Success)
                {
                    $.messager.alert('保存成功', '保存成功', 'info');
                }
                else if (data == XDropsWaterSystem.executeResult.Exception) {
                    $.messager.alert('保存失败', '系统出现异常，请联系管理员', 'info');
                }
                else if (data == XDropsWaterSystem.executeResult.Login) {
                    $.messager.alert('重新登录', '由于您长时间未操作，系统需要重新登录', 'info', function () {
                        window.location.href = "../Login/Logout";
                    });
                }
                else {
                    $.messager.alert('保存失败', data, 'error');
                }
            });
    }
</script>

<div id="userDetailsIndex_UserDetailsDialog" style="width: 700px; height: 400px">
    <form id="userDetailsIndex_UserDetailsForm" method="post">
        <table>
            <tr>
                <td>
                    <input type="text" id="userDetailsIndex_TextMemberID" name="id" style="display: none" />
                </td>
            </tr>
            <tr>
                <td style="text-align: right"><span style="font-size:large">店长姓名：</span></td>
                <td>
                    <input id="userDetailsIndex_TextUserName" style="font-size:large" type="text" @*class="easyui-validatebox" data-options="required:true"*@ />
                </td>
            </tr>
            <tr>
                <td style="text-align: right"><span style="font-size:large">固定电话：</span></td>
                <td>
                    <input id="userDetailsIndex_TextTelephone" style="font-size:large" type="text" @*class="easyui-validatebox" data-options="required:true"*@ />
                </td>
            </tr>
            <tr>
                <td style="text-align: right"><span style="font-size:large">手机：</span></td>
                <td>
                    <input id="userDetailsIndex_TextMobile" style="font-size:large"  type="text" @*class="easyui-validatebox" data-options="required:true"*@ />
                </td>
            </tr>
            <tr>
                <td style="text-align: right"><span style="font-size:large">传真：</span></td>
                <td>
                    <input id="userDetailsIndex_TextFax" style="font-size:large" type="text" />
                </td>
            </tr>
            <tr>
                <td style="text-align: right"><span style="font-size:large">专卖店地址：</span></td>
                <td>
                    <input id="userDetailsIndex_TextAddress" style="font-size: large; width: 400px" type="text" @*class="easyui-validatebox" data-options="required:true"*@ />
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right; padding-top: 10px">
                    <a href="javascript:void(0)" class="easyui-linkbutton" id="btnMemSave" iconcls="icon-ok" onclick="userDetailsIndex_SaveStoreInfo()">保存</a>
                </td>
            </tr>
        </table>

    </form>
</div>